#exitIntent {height: 100%;}
#requestQuoteFormWrapper-ppc {background: url(/sites/all/themes/gv_blue/css/images/ei-1-back.jpg) no-repeat 0 0 white; height: 100%;}
.field-group.left {float: left;}
.field-group.right {float: right;}

#requestQuoteFormWrapper-ppc .multipartForm {background: transparent; border: none; height: 100% !important;}
#requestQuoteFormWrapper-ppc .text-h-group {width: 500px; margin: auto;}

#requestQuoteFormWrapper-ppc select {width: 250px;}
#first_step .line-1 {font-size: 31px; color: #848484; margin: 50px 0 0 0;}
#first_step .line-2 {font-size: 55px; color: #f4ad49;}
#first_step .line-3 {font-size: 80px; color: #f4ad49; line-height: 80px;}
#first_step .line-3 span {color: blue; color: #0e75c5;}
#requestQuoteFormWrapper-ppc .line {width: 200px; height: 10px; border-top: 2px solid lightgray; margin: 30px auto 10px;}
#first_step .line-4 {font-size: 20px; color: #848484;}

#first_step .next_custom {background: url(/sites/all/themes/gv_blue/css/images/ei-sprite-1.png) no-repeat 0 0 transparent; width: 325px; height: 90px; position: absolute; top: 32px; left: 45px; text-indent: -9999px; cursor: pointer;}
#first_step .no {background: url(/sites/all/themes/gv_blue/css/images/ei-sprite-1.png) no-repeat 0 -107px transparent; width: 325px; height: 90px; position: absolute; top: 32px; left: 410px; text-indent: -9999px; cursor: pointer;} 


#second_step .line-1 {font-size: 20px; color: #848484; margin: 50px 0 0 0;}
#second_step .line {margin: 22px auto 3px;}
#second_step .line-2 {font-size: 55px; color: #f4ad49; line-height: 50px;}
#second_step .line-3 {font-size: 65px; color: #0e75c5; line-height: 65px;}
#second_step .line-4 {font-size: 40px; color: #848484; margin: 18px 0 0 0;}

#second_step .control {top: 320px; height: 180px;}
#second_step .next_custom {background: url(/sites/all/themes/gv_blue/css/images/ei-sprite-1.png) no-repeat 0 -218px transparent; width: 325px; height: 78px; position: absolute; top: 80px; left: 230px; text-indent: -9999px; cursor: pointer;}

#requestQuoteFormWrapper-ppc .back_custom {position: absolute; color: gainsboro; bottom: 0; left: 375px; cursor: no-drop;}


#third_step .line-1 {font-size: 23px; color: #848484; margin: 50px 0 10px 0;}
#third_step .line-2 {font-size: 55px; color: #f4ad49;}
#third_step .line-3 {font-size: 65px; color: #0e75c5;}
#third_step .line {margin: 20px auto 15px;}
#third_step .line-4 {font-size: 20px; color: #848484;}


#requestQuoteFormWrapper-ppc .control {position: absolute; top: 350px; width: 778px; height: 120px; background: white; border-top: 3px solid lightgray;}

#requestQuoteFormWrapper-ppc #Navigation {position: absolute; width: 100%; bottom: 20px;}
#requestQuoteFormWrapper-ppc #Navigation input#next {background: url(/sites/all/themes/gv_blue/css/images/ei-sprite-1.png) no-repeat 0 -315px transparent; width: 427px; height: 78px; text-indent: -9999px; cursor: pointer; border: none;}
#requestQuoteFormWrapper-ppc #Navigation input#next[value="Next"] {display: none;}