#exitIntent {height: 100%; overflow: hidden;}
#requestQuoteFormWrapper-ppc {background: url(/sites/all/themes/gv_blue/css/images/ei-1-back.jpg) no-repeat 0 0 white; height: 100%; overflow: hidden;}
#requestQuoteFormWrapper-ppc .field-group.left {float: left;}
#requestQuoteFormWrapper-ppc .field-group.right {float: right;}

#requestQuoteFormWrapper-ppc input.blur {color: gray;}
#requestQuoteFormWrapper-ppc .control input {border-color: #c3c3c3 !important;}

#requestQuoteFormWrapper-ppc .multipartForm {background: transparent; border: none; height: 100% !important;}
#requestQuoteFormWrapper-ppc .text-h-group {width: 510px; margin: auto;}


#requestQuoteFormWrapper-ppc #first_step .line-1 {font-size: 31px; color: #848484; margin: 50px 0 0 0;}
#requestQuoteFormWrapper-ppc #first_step .line-2 {font-size: 55px; color: #f4ad49;}
#requestQuoteFormWrapper-ppc #first_step .line-3 {font-size: 80px; color: #f4ad49; line-height: 80px;}
#requestQuoteFormWrapper-ppc #first_step .line-3 span {color: blue; color: #0e75c5;}
#requestQuoteFormWrapper-ppc .line {width: 200px; height: 10px; border-top: 2px solid lightgray; margin: 30px auto 10px;}
#requestQuoteFormWrapper-ppc #first_step .line-4 {font-size: 20px; color: #848484;}


#requestQuoteFormWrapper-ppc .control {position: absolute; top: 350px; width: 778px; height: 120px; background: white; border-top: 3px solid lightgray;}


#requestQuoteFormWrapper-ppc #first_step .next_custom {background: url(/sites/all/themes/gv_blue/css/images/ei-sprite-1.png) no-repeat 0 0 transparent; width: 325px; height: 90px; position: absolute; top: 32px; left: 45px; text-indent: -9999px; cursor: pointer;}
#requestQuoteFormWrapper-ppc #first_step .no {background: url(/sites/all/themes/gv_blue/css/images/ei-sprite-1.png) no-repeat 0 -107px transparent; width: 325px; height: 90px; position: absolute; top: 32px; left: 410px; text-indent: -9999px; cursor: pointer;} 


#requestQuoteFormWrapper-ppc #second_step .line-1 {font-size: 20px; color: #848484; margin: 50px 0 0 0;}
#requestQuoteFormWrapper-ppc #second_step .line {margin: 22px auto 3px;}
#requestQuoteFormWrapper-ppc #second_step .line-2 {font-size: 55px; color: #f4ad49; line-height: 50px;}
#requestQuoteFormWrapper-ppc #second_step .line-3 {font-size: 65px; color: #0e75c5; line-height: 75px;}
#requestQuoteFormWrapper-ppc #second_step .line-4 {font-size: 40px; color: #848484; margin: 10px 0 0 0;}

#requestQuoteFormWrapper-ppc #second_step .control {top: 320px; height: 180px;}
#requestQuoteFormWrapper-ppc #second_step input.company {width: 230px; height: 38px; border-radius: 5px; margin-top: 19px; padding-left: 10px; font-size: 14px; background: url(/sites/all/themes/gv_blue/css/images/ei-sprite-1.png) no-repeat 210px -405px transparent;}
#requestQuoteFormWrapper-ppc select {width: 250px;}

/*#requestQuoteFormWrapper-ppc #phones_amt-button {border-radius: 5px; background: none; border: 1px solid lightgray !important; display: block; text-align: left; color: lightgray; margin-top: 19px;}*/
#requestQuoteFormWrapper-ppc #phones_amt-button {border-radius: 5px; background: none; border: 1px solid #c3c3c3 !important; display: block; text-align: left; color: gray; margin-top: 19px;}
#requestQuoteFormWrapper-ppc #phones_amt-button:focus {color: black;}

#requestQuoteFormWrapper-ppc #phones_amt-button span {font-size: 14px; padding: 10px; background: url(/sites/all/themes/gv_blue/css/images/ei-sprite-1.png) no-repeat 220px -437px transparent;}

#requestQuoteFormWrapper-ppc #second_step .next_custom {background: url(/sites/all/themes/gv_blue/css/images/ei-sprite-1.png) no-repeat 0 -218px transparent; width: 325px; height: 78px; position: absolute; top: 80px; left: 230px; text-indent: -9999px; cursor: pointer;}

#requestQuoteFormWrapper-ppc .back_custom {position: absolute; color: gainsboro; bottom: 0; left: 375px; cursor: no-drop;}


#requestQuoteFormWrapper-ppc #third_step .line-1 {font-size: 23px; color: #848484; margin: 30px 0 0 0;}
#requestQuoteFormWrapper-ppc #third_step .line-2 {font-size: 55px; color: #f4ad49;}
#requestQuoteFormWrapper-ppc #third_step .line-3 {font-size: 65px; color: #0e75c5; line-height: 60px;}
#requestQuoteFormWrapper-ppc #third_step .line {margin: 20px auto 5px;}
#requestQuoteFormWrapper-ppc #third_step .line-4 {font-size: 20px; color: #848484;}

#requestQuoteFormWrapper-ppc #third_step .control {top: 270px; height: 211px; padding-top: 21px;}

#requestQuoteFormWrapper-ppc #third_step .wrapper.input-border {float: left;}
#requestQuoteFormWrapper-ppc #third_step .wrapper.input-border.second {float: right;}

#requestQuoteFormWrapper-ppc #third_step .text-h-group input {width: 230px !important; height: 35px !important; border-radius: 5px; font-size: 14px !important; padding-left: 10px !important; margin: 2px 3px 10px 10px !important;}
#requestQuoteFormWrapper-ppc #third_step input.firstname, #third_step input.lastname {background: url(/sites/all/themes/gv_blue/css/images/ei-sprite-1.png) no-repeat 205px -482px transparent;}
#requestQuoteFormWrapper-ppc #third_step input.email {background: url(/sites/all/themes/gv_blue/css/images/ei-sprite-1.png) no-repeat 205px -537px transparent;}
#requestQuoteFormWrapper-ppc #third_step input.phone {background: url(/sites/all/themes/gv_blue/css/images/ei-sprite-1.png) no-repeat 205px -594px transparent;}

#requestQuoteFormWrapper-ppc .multipartForm label.error {bottom: 105px; color: red; left: 325px;}
#requestQuoteFormWrapper-ppc .err {bottom: 104px; color: red; display: block; font-size: 12px; left: 300px; line-height: 13px; position: absolute;}

#requestQuoteFormWrapper-ppc #Navigation {position: absolute; width: 100%; bottom: 26px;}
#requestQuoteFormWrapper-ppc #Navigation input#next {background: url(/sites/all/themes/gv_blue/css/images/ei-sprite-1.png) no-repeat 0 -315px transparent; width: 427px; height: 78px; text-indent: -9999px; cursor: pointer; border: none;}
#requestQuoteFormWrapper-ppc #Navigation input#next[value="Next"] {display: none;}

#requestQuoteFormWrapper-ppc .results.sending {position: absolute; bottom: 83px; left: 195px; z-index: 10;}
#requestQuoteFormWrapper-ppc .results.success {position: absolute; width: 500px; top: 185px; left: 145px; font-size: 24px; color: rgb(95, 93, 93);}

#cboxLoadedContent {background: white !important;}