#exitIntent {height: 100%;}
#requestQuoteFormWrapper-ppc {background: url(/sites/all/themes/gv_blue/css/images/ei-1-back.jpg) no-repeat 0 0 white; height: 100%;}
.field-group.left {float: left;}
.field-group.right {float: right;}
#requestQuoteFormWrapper-ppc select {width: 150px;}
#requestQuoteFormWrapper-ppc .multipartForm {background: transparent; border: none;}