/* <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:normal,bold|Ubuntu:500" type="text/css" /> */

/* Chrome, FF, Opera.... + IE */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  /*src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');*/
  /* same + IE */
  /*src: url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot);*/
  
  /****src: url(sites/all/libraries/fonts/google/open-sans-n-ubuntu/open-sans-400-normal.eot);*/
  
  
  
  /*src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot) format('embedded-opentype'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');*/
  
  
  
  /*****src: local('Open Sans'), local('OpenSans'), url(sites/all/libraries/fonts/google/open-sans-n-ubuntu/open-sans-400-normal.eot) format('embedded-opentype'), url(sites/all/libraries/fonts/google/open-sans-n-ubuntu/open-sans-400-normal.woff) format('woff');*/
  src: local('Open Sans'), local('OpenSans') url(sites/all/libraries/fonts/google/open-sans-n-ubuntu/open-sans-400-normal.woff) format('woff');
  
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  /*src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');*/
  /* same + IE */
  /*src: url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHZ2MAKAc2x4R1uOSeegc5U.eot);*/
  
  
  /*****src: url(sites/all/libraries/fonts/google/open-sans-n-ubuntu/open-sans-700-normal.eot);*/
  
  
  /*src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHZ2MAKAc2x4R1uOSeegc5U.eot) format('embedded-opentype'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');*/
  
  
  /*****src: local('Open Sans Bold'), local('OpenSans-Bold'), url(sites/all/libraries/fonts/google/open-sans-n-ubuntu/open-sans-700-normal.eot) format('embedded-opentype'), url(sites/all/libraries/fonts/google/open-sans-n-ubuntu/open-sans-700-normal.woff) format('woff');*/
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(sites/all/libraries/fonts/google/open-sans-n-ubuntu/open-sans-700-normal.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  /*src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/OsJ2DjdpjqFRVUSto6IffD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');*/
  /* same + IE */
  /*src: url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/OsJ2DjdpjqFRVUSto6IffPY6323mHUZFJMgTvxaG2iE.eot);*/
  
  /****src: url(sites/all/libraries/fonts/google/open-sans-n-ubuntu/ubuntu-500-normal.eot);*/
  
  
  
  /***src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(sites/all/libraries/fonts/google/open-sans-n-ubuntu/ubuntu-500-normal.eot) format('embedded-opentype'), url(sites/all/libraries/fonts/google/open-sans-n-ubuntu/ubuntu-500-normal.woff) format('woff');*/
  src: local('Ubuntu Medium'), local('Ubuntu-Medium') url(sites/all/libraries/fonts/google/open-sans-n-ubuntu/ubuntu-500-normal.woff) format('woff');
}
