@import 'normalize'

@import 'icons'

@import 'fonts'

@import 'temp'

@import '_parts/_vars'

@import '_parts/header'

@import '_parts/footer'

@import '_parts/hero'

@import '_parts/_elements'

@import '_parts/quote'

@import 'home'

@import 'compare'



/* ==========================================================================
   Body
   ========================================================================== */

body 
	font-family: avenir
	font-size: 16px
	color: $grey-darker

.clearfix
	clear: both
	float: none

.main-wrap
	max-width: 1170px
	+center
	padding: 0 20px
	box-sizing: border-box
