@import 'normalize'

@import 'icons'

@import 'fonts'

@import 'temp'

@import '_parts/_vars'

@import '_parts/header'

@import '_parts/footer'

@import '_parts/hero'

@import 'home'



/* ==========================================================================
   Body
   ========================================================================== */

body 
	font-family: avenir
	font-size: 16px

.clearfix
	clear: both
	float: none

