h1.preface
	display: none

.preface
	.field-name-body .disclosure-intro
		display: none

		.disclosure
			display: block !important


.page-node-287 .nice-menu-down
	display: none


.hero-title 

	.disclosure,
	.preface-title,
	.preface-paragraph
		display: none

.field-name-body.field > .field-items > .field-item p:nth-of-type(1)
	display: none


.mobile-column,
.get_quote_popup
	display: none