.mobile-column,
.get_quote_popup {
  display: none !important; }

#gv-misc-newslettersubscribe-form,
.attachment.attachment-before {
  display: none; }

.item-list {
  display: none; }

#edit-provider-wrapper {
  display: none; }

.element-invisible {
  display: none; }
