
/* Chrome, FF, Opera.... + IE */
@font-face {
  font-family: 'MyriadPro BoldCond';
  font-style: normal;
  font-weight: normal;
  /* same + IE */
  src: url(/sites/all/libraries/fonts/other/myriadpro-boldcond.eot);
  src: local('MyriadPro BoldCond'), local('MyriadPro BoldCond'), url(/sites/all/libraries/other/myriadpro-boldcond.eot) format('embedded-opentype'), url(/sites/all/libraries/fonts/other/myriadpro-boldcond.woff) format('woff');
}
