@import '_parts/_vars'
@import '_parts/_elements'

.exit-intent
	position: relative
	width: 100%
	max-height: 100vh
	height: 546px
	text-align: center
	line-height: initial

	&-ppc,
	&-form,
	&-form-wrap
		height: 100%


	.step
		width: 100%
		height: 100%
		border-top: 7px solid $contrast
		box-sizing: border-box


	&-intro
		background-image: url(/sites/all/themes/gv_sky/images/img-exit-intent.jpg)
		background-size: cover
		border-bottom: 1px solid $divider
		line-height: initial

		.step-one &
			height: 343px

		.step-two &
			height: 329px

		.step-three &
			height: 282px

		&-line-1
			&.one
				padding-top: 53px
				font-size: 31px

				+max(736)
					font-size: 22px

			&.two
				padding-top: 50px
				font-size: 20px

				&:after
					content: ''
					position: relative
					top: 20px
					display: block
					+center
					width: perc(280px, 1100px)
					border-bottom: 2px solid darken($divider, 10)
	
					+max(736)
						top: 14px

			&.three
				padding-top: 30px
				font-size: 23px

				+max(736)
					padding-top: 40px
					max-width: 85%
					+center
					font-size: 21px


		&-line-2
			font-size: 55px
			color: $contrast

			+max(736)
				font-size: 40px

				&.three
					line-height: 1
					padding-top: 5px

			+max(350)
				font-size: 36px

			&.one
				font-weight: 500
				margin-top: 5px
				text-transform: uppercase
				
				+max(736)
					.bu &
						font-size: 42px
						max-width: 220px
						+center

			&.two
				margin-top: 35px

				+max(736)
					margin-top: 30px


		&-line-3
			&-highlight
				color: $primary

			&.one, 
			&.three
				&:after
					content: ''
					position: relative
					top: 10px
					display: block
					+center
					width: perc(350px, 1100px)
					border-bottom: 2px solid darken($divider, 10)

			&.one
				font-size: 84px
				line-height: 1.1
				font-weight: 500
				color: $contrast

				+max(736)
					font-size: 48px

			&.two
				font-size: 65px
				font-weight: 500
				text-transform: uppercase
				color: $primary

				+max(736)
					font-size: 38px

			&.three
				font-size: 65px
				font-weight: 500
				text-transform: uppercase
				color: $primary

				+max(736)
					padding-top: 5px
					font-size: 38px

					&:after
						border-bottom: 0
				


		&-line-4
			&.one
				font-size: 20px
				margin-top: 30px

				+max(736)
					font-size: 18px
					max-width: 80%
					+center(30px)


			&.two
				font-size: 40px

				+max(736)
					font-size: 26px

			&.three
				font-size: 20px
				margin-top: 30px

				+max(736)
					font-size: 16px
					margin-top: 0
					padding: 0 10px

	

	&-control
		+clearfix
		+center
		width: auto

		.step-one &
			margin-top: 53px

		.step-two &
			margin-top: 33px
			+max(736)
				padding: 0 20px
				box-sizing: border-box
				
		.step-three &
			margin-top: 23px
			+max(736)
				padding: 0 20px
				box-sizing: border-box


		&-button
			position: relative
			height: 70px
			border-radius: 10px
			background-color: $contrast
			border-bottom: 5px solid darken($contrast, 7)
			color: white
			cursor: pointer

			.step-one &
				float: left
				width: perc(323px, 807px)
				height: 90px
				margin: 0 perc(52px, 807px)

				&:nth-child(2)
					margin-left: 0

			.step-two &
				top: 4px
				width: 100%
				// max-width: perc(323px, 807px)
				max-width: 323px
				clear: both
				+center

			.step-three &
				// width: perc(423px, 807px)
				width: 100%
				max-width: 423px
				clear: both
				+center

				&:after
					content: 'aa'
					position: absolute
					top: 27px
					right: 36px
					font-family: gvcons
					font-size: 22px
					font-weight: 400
					letter-spacing: -10px

					+max(736)
						font-size: 20px
						// top: 29px


			&.no
				background-color: darken($divider, 5)
				border-color: darken($divider, 12)
			
			&-large
				position: relative
				+valign(52%)
				float: left
				padding: 15px 15px 0 22px
				border-right: 3px solid darken($contrast, 7)
				font-size: 50px
				line-height: 1
				font-weight: 700
				text-transform: uppercase

				+max(736)
					border: 0
					float: none
					width: 100%
					text-align: center
					padding: 15px 0 0 0 

				.no &
					border-color: darken($divider, 12)

			&-small
				position: relative
				+valign
				top: 53%
				float: left
				margin-left: 10px
				font-size: 20px
				font-weight: 500
				line-height: 1
				text-align: left
				width: 53%

				+max(736)
					display: none

			&-text
				position: absolute
				+valign
				top: 54%
				left: 0
				right: 25px
				font-size: 28px
				font-weight: 700
				line-height: 1

				&:after
					content: 'aa'
					position: absolute
					top: 3px
					font-family: gvcons
					font-size: 22px
					font-weight: 400
					letter-spacing: -10px

			&-input
				position: absolute
				width: 100%
				height: 100%
				border-radius: 10px
				+valign
				top: 50%
				left: 0
				right: 40px
				padding-right: 28px
				background-color: $contrast
				font-size: 28px
				font-weight: 700
				line-height: 78px
				box-sizing: border-box

				+max(736)
					font-size: 20px
		



		&-fieldset
			position: relative
			float: left
			width: perc(380px, 1100px)
			margin-bottom: 18px
			border: 0

			+max(736)
				width: 48.8%

			&.error
				color: #E34B4F
				border-radius: 5px
				background-image: none
				background-color: transparent

			&:before
				content: ''
				width: 32px
				height: 91%
				background-color: white
				position: absolute
				right: 4px
				top: 2px
				z-index: 2

			&:after
				position: absolute
				+valign
				right: 12px
				z-index: 3
				font-family: gvcons
				color: $grey-light
				// color: $grey
				line-height: 1
				transition: all 0.2s

			&:nth-child(1),
			&:nth-child(3),
				margin-left: perc(152.5px, 1100px)

				+max(736)
					margin-left: 0

			&:nth-child(2n)
				margin-left: perc(18px, 807px)

			&:nth-child(1):after
				content: '!'
				font-size: 18px

				+max(350)
					.step-two &
						display: none

			.step-three &:nth-child(1):after,
			.step-three &:nth-child(2):after
				content: 'K'
				font-size: 17px

			.step-three  &:nth-child(4):after
				content: '['
				font-size: 18px

			.step-three &:nth-child(3):after
				content: 'H'
				font-size: 19px
				right: 11px

			&-wrap
				position: relative

				.select &:before
					content: ''
					width: 38px
					height: 91%
					background-color: white
					position: absolute
					right: 4px
					top: 2px
					z-index: 2
					// top: 18px

				.select &:after
					content: 'b'
					position: absolute
					right: 17px
					top: 18px
					z-index: 3
					font-family: gvcons
					font-size: 18px

					.error &
						color: #E34B4F

				// .secure &:after
				// 	content: 'T'
				// 	position: absolute
				// 	right: 12px
				// 	top: 14px
				// 	font-family: gvcons
				// 	font-size: 22px
				// 	color: $divider


			&-input,
			&-select
				width: 100%
				border: 1px solid $divider
				background-color: white
				border-radius: 5px
				height: 52px
				display: block
				padding: 12px 17px 8px
				font-size: 16px
				font-weight: 500
				color: $grey-darker

				+max(736)
					font-size: 14px
					padding: 4px 14px 0px

				&:focus
					border-color: $contrast

				.error &
					border-color: #E34B4F



