/*
Error: Indenting at the beginning of the document is illegal.
        on line 1 of /Applications/MAMP/getvoip/gv_main/sites/all/themes/gv_sky/css/sass/_parts_provider/provider-overview-details.sass

1: 		&-details
2: 			// width: perc(630px, 1070px)
3: 			width: perc(566px, 1070px)
4: 			padding-left: perc(30px, 1070px)
5: 
6: 			+m(920)

Backtrace:
/Applications/MAMP/getvoip/gv_main/sites/all/themes/gv_sky/css/sass/_parts_provider/provider-overview-details.sass:1
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:448:in `block in tabulate'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:431:in `each'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:431:in `each_with_index'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:431:in `tabulate'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:396:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:268:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:415:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/sass:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Indenting at the beginning of the document is illegal.\A         on line 1 of /Applications/MAMP/getvoip/gv_main/sites/all/themes/gv_sky/css/sass/_parts_provider/provider-overview-details.sass\A \A 1: 		&-details\A 2: 			// width: perc(630px, 1070px)\A 3: 			width: perc(566px, 1070px)\A 4: 			padding-left: perc(30px, 1070px)\A 5: \A 6: 			+m(920)"; }
