.contact-info
	width: perc(513px, 1130px)
	float: right

	&-wrap
		+clearfix
		margin-bottom: 25px

	&-item
		width: 50%
		float: left
		font-size: 14px
		text-align: left

		&-title
			font-weight: 700
			text-transform: uppercase
			letter-spacing: .2px
			margin-bottom: 7px

		&-content
			line-height: 20px
			font-weight: 500
