/* Variables */

// color

$primary-color: #268ad3;
$primary-color-dark: darken($primary-color, 7);
$contrast-color: #e39315;
$contrast-color-dark: darken($contrast-color, 7);
$grey: #7a7a7a;
$grey-mid: #878787;
$grey-blue: #606466;
$grey-blue-light: #9da8ad;
$grey-light: #909090;
$grey-x-light: #d0d0d0;
$divider-color: $grey-x-light;
$white: #fff;


// mixins

@mixin ratio($percentual-height){
    // Wrapper
    position: relative;
    display: block;
    vertical-align: top;
    &:before { 
      padding-top:$percentual-height; 
      content: '';
      display: block;            
    }
    // Content
    > * { position: absolute; 
      top: 0; left: 0; bottom: 0; right: 0; 
  }
}

@mixin size($width, $height:0) {

    @if $height == 0 {
      
      width: #{$width}px;
      height: #{$width}px;
      
    } @else {

      width: #{$width}px;
      height: #{$height}px;
    }
}


//functions

@function perc($target, $parent) {
    @return $target / $parent * 100%;
} 









/* ==========================================================================
   Body
   ========================================================================== */

body {
	background: $white !important;
	font-family: avenir !important;
	line-height: 1em !important;
	// overflow-x: hidden;
}

#page {
	width: 100%;
	overflow: hidden;
}

main {
	min-height: 993px - 265px;
	background: url(../img/bg-img.jpg) 50% 100%  / cover;
	background-repeat: no-repeat;
	position: relative;

		@media screen and (max-height:669px) {
			min-height: 993px - 210px;
			
		}
}

.clearfix-dk {
	clear: both;
	float: none;
}

h1 {
	font-size: 32px;
	font-weight: 300;
	line-height: 1.2em;
	color: $grey;
	text-align: center;
	width: 86%;
	max-width: 620px;
	padding-top: 65px;
	margin: 0 auto;

		&.boost {
			font-size: 30px;
			padding-top: 90px;
			margin: 0 auto;
		}

	@media screen and (max-width:700px) {
		font-size: 4.6vw;
			&.boost {
				font-size: 4.4vw;
			}
	}

	@media screen and (max-width:540px) {
		font-size: 26px;
			&.boost {
				font-size: 24px;
			}
	}

	@media screen and (max-width:420px) {
		// font-size: 24px;
	}
}

h2 {
	font-size: 19px;
	font-weight: 300;
	color: $grey-light;
	line-height: 1.2em;
	text-align: center;
	width: 90%;
	max-width: 480px;
	margin: 0 auto;
	padding-top: 12px;

		&.boost {
			padding-top: 8px;
		}

	@media screen and (max-width:700px) {
		font-size: 2.7vw;
		width: 75%;
	}

	@media screen and (max-width:620px) {
		font-size: 16px;
	}
}
 






body.quote-page #all-content {
width: 100%;
box-shadow: none;
background: white;
}
body.no-sidebars #main {padding: 0 !important;}

body.quote-page .tabs-wrapper, body.quote-page .messages {
width: 980px;
margin: auto;
position: relative;
}





header {
	height: 87px;
	display: block;
	background: $white;
    box-shadow: 0 1px 2px rgba(22, 16, 22, 0.2);
    z-index: 2;
    position: relative;

    	.wrap {
    		width: 100%;
    		height: 87px !important;
    		max-width: 1000px;
    		margin: 0 auto;
    		padding: 0 13px;
    		display: table;
    	}

    	.logo {
    		padding-top: 5px;
    		display: table-cell;

    			@media screen and (max-width:460px) {
    				padding-top: 10px;
    				img {
    					width: 180px;
    					height: auto;
    				}
    			}

    			@media screen and (max-width:360px) {
    				padding-top: 16px;
    				img {
    					width: 155px;
    				}
    			}
    	}

    	.slogan-wrap {
    		// padding: 35px 0;
    		height: auto;
    		font-weight: 600;
    		color: $grey-blue;
    		display: table-cell;
    		vertical-align: middle;

    			.slogan {
    				text-align: right;
    				padding-top:7px;
    				font-size: 17px;

    					@media screen and (max-width:580px) {
    						font-size: 15px;
    						padding-left: 20px;
    					}

    					@media screen and (max-width:420px) {
    						// font-weight: 500;
    						font-size: 14px;
    					}

    					@media screen and (max-width:330px) {
    						font-size: 13px;
    					}
    			}

    			span {
    				color: $primary-color;
    			}
    	}
}







/* Section Below fold, Testimonials */
.testimonials {
	padding-bottom: 100px;

		> .wrap {
			width: 100%;
			max-width: 1000px;
			margin: 0 auto;
			// padding: 0 54px;
		}

	@media screen and (max-width:800px) {
		padding-bottom: 0px;
	}
}

h2.boost {
	padding-bottom: 125px;
}

h1.boost span {
	color: $primary-color;
}


.testimonial {
	width: 50%;
	float: left;

		.wrap {
			width: 100%;
			max-width: 330px;
			margin: 0 auto;
		}

		.quote {
			width: 100%;

				p {
					position: relative;
					font-size: 20px;
					line-height: 1.2em;
					letter-spacing: 0.4px;
					color: $grey;

						&:before {
							content: 'd';
							position: absolute;
							top: -12px;
							left: -39px;
							display: block;
							font-family: gvcons;
							font-size: 1.5em;
							color: #ebebeb;
						}

						&:after {
							content: 'e';
							position: absolute;
							bottom: -12px;
							right: -34px;
							display: block;
							font-family: gvcons;
							font-size: 1.5em;
							color: #ebebeb;
						}
				}
		}

		.person {
			padding-top: 45px;
			height: 98px;

				> div {
					float: left;
				}
		}

		.photo {
				padding-right: 7.8%;
				
				.circle {
					position: relative;
					@include size(88);

						img {
							width: 100%;
							height: 100%;
							border-radius: 50%;
							overflow: hidden;
						}

					&:before {
						content: '';
						position: absolute;
						bottom: -6px;
						right: -6px;
						margin: 0 auto;
						display: block;
						@include size(98);
						border: 1px solid $divider-color;
						border-radius: 50%;
					}
				}
		}

		.name-meta {
			position: relative;
			top: 45%;
			-webkit-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);

			.full-name {
				font-size: 17px;
				font-weight: 700;
				letter-spacing: 0.3px;
				color: $grey;
				padding-bottom: 6px;
			}

			.job {
				font-size: 15px;
				font-weight: 500;
				color: $grey;
			}
		}

	@media screen and (max-width:800px) {
		width: 100%;
		float: none;
		margin-bottom: 60px;

			.wrap {
				width: 70%;
			}
	}

	@media screen and (max-width:500px) {

			.person {
				width: 130%;
			}

			.quote p {
				font-size: 18px;
			}
			
			.photo {
				padding-right: 6%;

				.circle {
					@include size(75);

						&:before {
							@include size(85);
						}
				}
			}

			.name-meta {
				top: 40%;

					.full-name {
						font-size: 16px;
					}

					.job {
						font-size: 14px;
					}
			}
	}
}
