@import 'common/normalize.scss';
@import 'common/gvcons.scss';
@import 'common/fonts.scss';
@import 'common/temp.scss';

/* Variables */

// color

$primary-color: #268ad3;
$primary-color-dark: darken($primary-color, 7);
$contrast-color: #e39315;
$contrast-color-dark: darken($contrast-color, 7);
$grey: #7a7a7a;
$grey-mid: #878787;
$grey-blue: #606466;
$grey-blue-light: #9da8ad;
$grey-light: #909090;
$grey-x-light: #d0d0d0;
$divider-color: $grey-x-light;
$white: #fff;


// mixins

@mixin ratio($percentual-height){
    // Wrapper
    position: relative;
    display: block;
    vertical-align: top;
    &:before { 
      padding-top:$percentual-height; 
      content: '';
      display: block;            
    }
    // Content
    > * { position: absolute; 
      top: 0; left: 0; bottom: 0; right: 0; 
  }
}

@mixin size($width, $height:0) {

    @if $height == 0 {
      
      width: #{$width}px;
      height: #{$width}px;
      
    } @else {

      width: #{$width}px;
      height: #{$height}px;
    }
}


//functions

@function perc($target, $parent) {
    @return $target / $parent * 100%;
} 









/* ==========================================================================
   Body
   ========================================================================== */
/*
body {
	background: $white !important;
	font-family: avenir !important;
	line-height: 1em !important;
	// overflow-x: hidden;
}

#page {
	width: 100%;
	overflow: hidden;
}

main {
	min-height: 993px - 265px;
	background: url(lpv10-img/bg-img.jpg) 50% 100%  / cover;
	background-repeat: no-repeat;
	position: relative;

		@media screen and (max-height:669px) {
			min-height: 993px - 210px;
			
		}
}
*/
.clearfix-dk {
	clear: both;
	float: none;
}




.popup-request.quote .ui-widget {
font-family: inherit !important;
}


.title-first, .title-second {
	font-size: 35px;
	font-weight: 300;
	line-height: 1.2em;
	color: $grey;
	text-align: center;
	width: 86%;
	//max-width: 620px;
	//padding-top: 30px;
	margin: 20px auto 0;
  font-family: Avenir;
  

	@media screen and (max-width:700px) {
		font-size: 4.6vw;
	
	}

	@media screen and (max-width:540px) {
		font-size: 26px;
	}

	@media screen and (max-width:420px) {
		// font-size: 24px;
	}
  
  span {
    color: #f4ad49;
  }

  .subtitle {
      font-size: 20px;
      font-weight: 300;
      color: $grey-light;
      line-height: 1.2em;
      text-align: center;
      width: 90%;
      max-width: 480px;
      margin: 0 auto;
      padding-top: 12px;



      @media screen and (max-width:700px) {
        font-size: 2.7vw;
        width: 75%;
      }

      @media screen and (max-width:620px) {
        font-size: 16px;
      }
    }
    
}



/* THe Form */
.popup-request.quote .form-main {
	width: 100%;
	margin: 0 auto;
}

.popup-request.quote .form {
	width: 90%;
	max-width: 560px;
	margin: 0 auto;

		.step {
			width: 100%;
			padding-top: 50px;
		}

		.step.two,
		.step.three,
		.checkbox,
		.radio {
			display: none;
		}
}



/* ==========================================================================
   Global
   ========================================================================== */



.popup-request.quote .fieldset {
	width: 100%;
	position: relative;

		p.question {
			font-weight: 600;
			font-size: 14px;
			//color: $grey-blue;
			color: #848484;
      line-height: 1em;
      padding: 0;
      margin: 30px 0 10px;
      
		}

		input[type="text"],
		.choice,
		.checkbox-choice {
			height: 100%;
			background: $white;
			border: 1px solid $divider-color;
			border-radius: 3px;
			box-sizing:border-box;
			height: 55px;
			color: $grey-mid;
		}
    
    input.company {width: 100%; padding: 20px; font-size: 17px;}

		.button {
			width: 73%; //100%;
			height: 55px;
			margin: 30px auto 0;
			font-weight: 600;
			font-size: 19px;
			text-align: center;
			background: #f4ad49; //$contrast-color;
			color: #fff;
			border-radius: 3px;
			cursor: pointer;
			transition:background 0.2s;
      

				p {
					line-height: 60px;
					height: 100%;
				}

				span:before {
					position: relative;
					font-size: 25px;
					top: 5px;
					right: 5px;
				}

			&:hover {
				background: $contrast-color-dark;
			}
		}

	.choice {
		width: perc(180px, 560px); //180px / 560px * 100%;
		float: left;
		margin-left: 1.75%;
		margin-left: perc(10px, 560px); //10px / 560px * 100%;
		cursor: pointer;

			label {
			    -webkit-touch-callout: none;
			    -webkit-user-select: none;
			    -khtml-user-select: none;
			    -moz-user-select: none;
			    -ms-user-select: none;
			    user-select: none;
			    pointer-events:none;
			}

		&.first {
			margin-left: 0;
		}

		&.checked {
			position: relative;
			border-color: $primary-color;
			border-color: #fff;

				label,
				div {
					color: $primary-color;
				}

				&:before {
					content: '';
					position: absolute;
					top: -2px;
					left: -2px;
					display: block;
					width: 100%;
					height: 100%;
					border: 2px solid $primary-color;
					border-radius: 3px;
					box-sizing: content-box;
					z-index: 1;
				}
		}
	}
}

/* 
   
   ========================================================================== */





/* ==========================================================================
   1. STEP ONE
   ========================================================================== */

.popup-request.quote .step.one {

	.choice {

		div,
		label {
			float: left;
			cursor: pointer;
			z-index: 2;
			position: relative;
			// height: 100%;
		}

		div {
			width:  perc(50px, 180px);//perc(50, 180)+px; //50px / 180px * 100%;
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			text-align: center;
			font-size: 1.6em;


				&:before {
					top: 1px;
					position: relative;
					padding-left: 3px;
				}
		}

		label {
			width: perc(130px, 180px); //130px / 180px * 100%;
			padding: 14px 0;
			font-size: 11.5px;
			line-height: 14px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	.choice.both {

		div {
			font-size: 1.6em;
		}

		label {
			padding: 14px 8px 14px 0;
			box-sizing:border-box;

				@media screen and (max-width:600px) {
					padding: 5px 0px 14px 0;
				}

				&:before {
					// padding-left: 5px;
				}

				@media screen and (max-width:600px) {
					// font-size: 1.8em;
					padding-top: 8px;
				}
		}
	}

	.choice.service-only {
		div {
			font-size: 1.6em;

				@media screen and (max-width:600px) {
					// font-size: 1.8em;
					padding-top: 13px;
				}
		}
	}


	@media screen and (max-width:600px) {
		.choice {
			height: 85px;

			div,
			label {
				float: none;
				width: 95%;
				max-width: 130px;
				margin: 0 auto;
				text-align: center;
				top: 0;
				-webkit-transform: translateY(0%);
				-o-transform: translateY(0%);
				transform: translateY(0%);
				display: block;
				padding: 0;
			}

			div {
				font-size: 1.8em;
				padding-top: 10px;

				&:before {
					padding-left: 0;
				}
			}

			label {
				padding-top: 5px;
				font-size: 10.5px;
			} 
		}
	}

	@media screen and (max-width:380px) {
		.choice label span {display: none;}
	}

}

/* ========================================================================== */






/* ==========================================================================
   2. STEP TWO
   ========================================================================== */


.popup-request.quote .step.two {

    .wrap.outer {
        width: 530px;
        margin: auto;
    }
    
		.choice {
			width: 15%; //12%;//perc(104px, 560px); //104px / 560px * 100%;
			text-align: center;
      height: 53px;

				label {
					line-height: 55px;
					font-weight: 600;
          font-family: avenir;
          
					@media screen and (max-width:400px) {
							
							span {
								display: none;
							}
					}
				}
		}

		.fieldset.checkboxes {
			margin-top: 35px;
		}

		.wrap.top5 {
			margin-top: 5px;
		}

		.wrap.column {
			width: 50%;
			float: left;

			&.right {
				padding-left: 12px;
			}
		}

		.choice-checkbox {
			position: relative;
			height: 19px;
			margin-top: 14px;
			cursor: pointer;

				.checkbox-new {
					position: relative;
					@include size(19);
					// display: inline-block;
					background: $white;
					border: 1px solid $divider-color;
					border-radius: 3px;
					margin-right: 10px;
					float: left;
					box-sizing: border-box;		
				}

				label {
					font-size: 14px;
					font-weight: 500;
					padding-top: 2px;
					display: block;
					color: $grey;

						@media screen and (max-width:500px) {
							span { display: none; }
						}

						@media screen and (max-width:380px) {
							font-size: 13px;
						}
				}

			&.first {
				margin-top: 0;
			}

			&:active .checkbox-new {
				background: darken($white, 5);
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
			}

			&.checked {

					.checkbox-new:after {
						content: 'h';
						position: absolute;
						top: 0.5px;
						display: block;
						margin: 0 auto;
						text-align: center;
						width: 100%;
						font-family: gvcons;
						color: $primary-color;
						font-size: .8em;
					}
			}
		}

/*		.button {
			float: left;
		}*/
    
/*
		.button.back {
			width: 20%;
			background: $grey-x-light;

				&:hover {
					background: darken($grey-x-light, 10);
				}
		}
*/
/*		.button.next {
			width: 78.2%;
			margin-left: perc(10px, 560px); //10px / 560px * 100%;
		}*/

}


/* ========================================================================== */






/* ==========================================================================
   3. Step Three
   ========================================================================== */


.popup-request.quote .fieldset.half {
	width: 49.1%;
	float: left;
	margin-top: 10px; //22px;

    
    
		input {
			width: 100%;
			font-size: 17px;
			padding: 13px;

			&:focus {
				border: 1px solid $contrast-color;
			}
		}

	&:nth-of-type(2), &:nth-of-type(5){
		margin-left: perc(10, 560);
	}

	&.first {
		margin-top: 0;
	}
}


.popup-request.quote .step.three {
	width: 100%;
	max-width: 412px;
	margin: 0 auto;
	padding-top: 30px;

    .wrap.outer {
        width: 525px;
        margin: auto;
    }
  
/*		.button {
			margin-top: 25px;
		}*/

		.inform-text {
			font-size: 13.5px;
			font-weight: 300;
			line-height: 1.3em;
			color: $grey-light;
			text-align: center;
			margin-top: 13px;
		}
}


.title-loading {
	padding-top: 170px;
  display: block !important;
	
	.loading-gif {
		background-image: url(lpv10-img/loading.gif);
		width: 64px;
		height: 64px;
		margin: 0 auto;
	}
}

.title-second {

    margin: 27px auto 5px;
    font-size: 38px;
  
    span {
      color: #0e75c5;
    }
    
		.result {
			position: relative;
			color: $contrast-color;
			padding: 0 8px;
			display: inline-block;

				.number {
					font-size: 36px;
				}

			&:after {
				content: '';
				position: absolute;
				top: -5px;
				left: -1px;
				width: 33px;
				height: 40px;
				border: 2px solid $contrast-color;
			}

			@media screen and (max-width:540px) {

						.number {
							font-size: 32px;
						}
				
					&:after {
						width: 31px;
						height: 34px;
					}
			}
		}
}


/* ========================================================================== */






/* ==========================================================================
   Error styling
   ========================================================================== */

.popup-request.quote div.error {
border: none !important;
background: none !important;
color: inherit !important;
}

.popup-request.quote .results {
padding-top: 200px;
color: gray;
}

.popup-request.quote .success.results p {
margin-bottom: 15px;
background: none !important;
}

.error-warn {
content: 'Please Select';
position: relative;
top: -3px;
padding: 4px 4px 3px 5px;
font-weight: 600;
font-size: 11px;
float: right;
line-height: 11px;
letter-spacing: .5px;
text-transform: uppercase;
color: #e34515;
border: 2px solid #e34515;
border-radius: 3px;
display: none;
}

.popup-request.quote label.error {
font-size: 13px;
left: 0;
bottom: -20px;
margin: 0 0 0 5px;
color: orange;
position: absolute;
font-weight: normal;
}

.popup-request.quote .step.two .checkboxes p.question {
  margin: 10px 0 15px;
}

.popup-request.quote .step.two.radio-error {

		.choices {
			
      
      
			p.question:after {
				content: 'Please Select';
				position: relative;
				top: -3px;
				padding: 4px 4px 3px 5px;
				font-weight: 600;
				font-size: 11px;
				float: right;
				line-height: 11px;
				letter-spacing: .5px;
				text-transform: uppercase;
				color: #e34515;
				border: 2px solid #e34515;
				border-radius: 3px;
			}
		}
}

.step.two.checkbox-error {

		.checkboxes {
			
			p.question:after {
				content: 'Please Select';
				position: relative;
				top: -3px;
				padding: 4px 4px 3px 5px;
				font-weight: 600;
				font-size: 11px;
				float: right;
				line-height: 11px;
				letter-spacing: .5px;
				text-transform: uppercase;
				color: #e34515;
				border: 2px solid #e34515;
				border-radius: 3px;
			}
		}

		&.no-show {

			.checkboxes {

				p.question:after {
					display: none;
				}
			}
		}
}

/*
#Navigation .ui-state-disabled {
display: none;
}


#Navigation input#next[value="Find Me Solutions"]:hover {
background: url(/sites/all/themes/gv_blue/css/images/lp-sprite-2.png) no-repeat transparent -5px -414px;
}

#Navigation input#next[value="Find Me Solutions"] {
background: url(/sites/all/themes/gv_blue/css/images/lp-sprite-2.png) no-repeat transparent -5px -288px;
}

#Navigation #next:hover {
background: url(/sites/all/themes/gv_blue/css/images/lp-sprite-2.png) no-repeat transparent -3px -226px;
}

#Navigation #next {
background: url(/sites/all/themes/gv_blue/css/images/lp-sprite-2.png) no-repeat transparent -3px -164px;
border: none;
height: 50px;
margin: 0 0 0 4px;
border-radius: 3px;
text-align: center;
padding: 0;
width: 330px!important;
float: left;
text-indent: -9999px;
clear: both;
box-shadow: none;
}
*/


/* ========================================================================== */









/* ==========================================================================
   Thank You Page
   ========================================================================== */

.pdf-page .step {
	padding-top: 40px !important;
}

.popup-request.quote .pdf {
	padding-top: 50px;

}

.download {
	@include size(147);
	background: $white;
	border: 1px solid $divider-color;
	border-radius: 20px;
	margin: 0 auto;
	cursor: pointer;

		span {
			text-align: center;
			display: block;
			font-size: 15px;
			line-height: 18px;
			text-transform: uppercase;
			font-weight: 600;
			color: $grey;
			box-sizing: border-box;
			padding: 0 20px;
		}

	&:hover {

			span {
				color: $contrast-color;
			}
	}
}

.pdf-page a {
	text-decoration: none !important;
}

.icon-download {
  display: block !important;
	background-image: url(lpv10-img/icon-download.svg) !important;
	background-size: 100% !important;
	margin: 18px auto 15px !important;
	//@include size(72,69);
  width: 72px !important;
  height: 69px !important;
}


.thanks {
	width: 90%;
	max-width: 420px;
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
	font-size: 18px;
	line-height: 1.2em;
	color: darken($grey, 10);

		span {
			font-weight: 700;
		}
}

/* ========================================================================== */




 




/* Feature */
/*
.feature {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 106px;
	background: $white;
	color: $grey-blue-light;
	border: 1px solid $divider-color;
	border-left: none;
	border-right: none;

		.wrap {
			width: 100%;
			height: 100%;
			max-width: 1000px;
			margin: 0 auto;
			display: block;
			box-sizing: border-box;
			padding: 0 13px;
		}

		h5 {
			font-size: 24px;
			font-weight: 600;
			letter-spacing: 0.5px;
			line-height: 1em;
			// padding-top: 41px / 106px * 100%;
			// padding-bottom: 41px / 106px * 100%;
			padding: 44px 0;
			// line-height: 106px;
			text-transform: uppercase;
			text-align: center;
			float: left;

				@media screen and (max-width:790px) {
					font-size: 21px;
					padding: 49px 0;
				}

				@media screen and (max-width:680px) {
					padding: 15px 0 0;
					font-size: 21px;
					width: 100% !important;
					float: none !important;
					height: auto !important;
				}
		}

		.company,
		h5 {
			width: 25%;
			height: 100%;
			float: left;
		}

		.companies {
			width: 75%;
			height: 100%;
			float: left;
			opacity: .14;

				@media screen and (max-width:680px) {
					width: 100%;
					height: 65%;
				}

				@media screen and (max-width:450px) {
					margin-left: -10px;
				}
		}

		.cm-image {
			margin: 0 auto;
			background-repeat: no-repeat;
			position: relative;
			background-size: 100%;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);

				@media screen and (max-width:790px) {
					background-size: 80%;
					background-position: 50%;
				}

				@media screen and (max-width:680px) {
					background-size: 100%;
					-webkit-transform: scale(0.8);
					-moz-transform: scale(0.8);
					-ms-transform: scale(0.8);
					transform: scale(0.8);
					-webkit-transform-origin: 35% -200%;
					-moz-transform-origin: 35% -200%;
					-ms-transform-origin: 35% -200%;
					transform-origin: 35% -200%;
				}

				@media screen and (max-width:540px) {
					-webkit-transform: scale(0.7);
					-moz-transform: scale(0.7);
					-ms-transform: scale(0.7);
					transform: scale(0.7);
					-webkit-transform-origin: 25% -100%;
					-moz-transform-origin: 25% -100%;
					-ms-transform-origin: 25% -100%;
					transform-origin: 25% -100%;
				}

				@media screen and (max-width:450px) {
					-webkit-transform: scale(0.6);
					-moz-transform: scale(0.6);
					-ms-transform: scale(0.6);
					transform: scale(0.6);
					-webkit-transform-origin: 25% -50%;
					-moz-transform-origin: 25% -50%;
					-ms-transform-origin: 25% -50%;
					transform-origin: 25% -50%;
				}

				@media screen and (max-width:380px) {
					-webkit-transform: scale(0.5);
					-moz-transform: scale(0.5);
					-ms-transform: scale(0.5);
					transform: scale(0.5);
					-webkit-transform-origin: 25% -50%;
					-moz-transform-origin: 25% -50%;
					-ms-transform-origin: 25% -50%;
					transform-origin: 25% -50%;
				}
		}
}
*/
/*
.binsider .cm-image {
	background-image: url(lpv10-img/cm-binsider.png);
	width: 132px;
	height: 53px;
}
.forbes .cm-image {
	background-image: url(lpv10-img/cm-forbes.png);
	width: 137px;
	height: 34px;
}
.fox-b .cm-image {
	background-image: url(lpv10-img/cm-fox-b.png);
	width: 104px;
	height: 51px;

		@media screen and (max-width:450px) {
			-webkit-transform-origin: 50% -50% !important;
			-moz-transform-origin: 50% -50% !important;
			-ms-transform-origin: 50% -50% !important;
			transform-origin: 50% -50% !important;
		}
}
.pcworld .cm-image {
	background-image: url(lpv10-img/cm-pcworld.png);
	width: 134px;
	height: 30px;
}
*/


/* Footer */
/*
.footer {
margin-top: 50px;
text-align: center;
color: lightgray;
}
*/


/* Added by Danny */
.step.one .choice label {
    font-size:11.5px !important;
    line-height:14px !important;
}

.step.one .choice div::before {
    font-size:26.5px
}

.fieldset.half input.error {
    border: 1px solid #e34b4f
}

.fieldset.half input,
.button {
    font-family:avenir !important;
}

label.error {
    display:none !important;
}

.step.three .button {
    border:0px !important;
    line-height:60px !important;
}

.step.three .inform-text {
    font-size: 15px !important;
    padding: 15px 0 0 0;
    width: 480px;
    margin: auto;
}

.feature h5 {
    line-height: 0.5px !important;
    line-height: 1em !important;
}

/*
main {
background-size:cover !important;
}
*/

.popup-request.quote #requestQuoteFormWrapper,
.popup-request.quote #requestQuoteFormWrapper .step{
height: inherit !important;
max-width: inherit;
width: 100%;
}
.popup-request.quote #requestQuoteFormWrapper .step{
  padding: 0;
}
/*.popup-request.quote .multipartForm .fieldset input.phone {
height: 55px !important;
width: inherit !important;
}*/

.popup-request.quote .step .top {
padding: 20px;
background: url("/sites/all/themes/gv_blue/css/images/q10-popup-back.jpg") no-repeat -80px 0;
height: 420px;
}

.popup-request.quote #requestQuoteFormWrapper .results {
  background: url("/sites/all/themes/gv_blue/css/images/q10-popup-back.jpg") no-repeat -80px 0;
  height: 575px;
}

.popup-request.quote #requestQuoteFormWrapper .results p {
  margin: auto;
  line-height: 1.5;
}

.popup-request.quote .results .title-first {
margin: 40px auto;
}


.popup-request.quote .step .back {
background: none;
color: lightgray;
font-weight: normal;
margin: 5px auto 0;
height: inherit;
text-align: center;
cursor: pointer;
}

.popup-request.quote .title-delim {
width: 120px;
height: 2px;
background: lightgray;
margin: 10px auto 5px;
}

.fieldset.choices.service-type.first {
margin: auto;
width: 420px;
}


span.ico {
width: 40px;
height: 30px;
display: block;
background: url(/sites/all/themes/gv_blue/css/images/q10-sprite.png) no-repeat -30px 0 transparent;
margin: 7px auto 3px;
}

.choice.phone-only span.ico {
  background: url(/sites/all/themes/gv_blue/css/images/q10-sprite.png) no-repeat 9px 0 transparent;
}

.choice.service-only span.ico {
  background: url(/sites/all/themes/gv_blue/css/images/q10-sprite.png) no-repeat -63px 0 transparent;
}

.popup-request.quote .fieldset .choice {
  /*width: 32.143%; */
float: left;
/* margin-left: 1.75%; */
margin-left: 1.786%;
cursor: pointer;
width: 135px;
text-align: center;
padding: 0 10px;

/* height: 100%; */
background: white;
border: 1px solid #d0d0d0;
border-radius: 3px;
box-sizing: border-box;
/* height: 55px; */
color: #878787;
height: 85px;
}



.popup-request.quote .step.one .choice label {
  /* width: 72.222%; */
/* padding: 14px 0; */
/* font-size: 11px; */
/* line-height: 14px; */
font-weight: 700;
text-transform: uppercase;


float: left;
cursor: pointer;
/* z-index: 2; */
/* position: relative; */
/* text-align: center; */
/* float: none; */
/* margin: auto; */
/* margin: 3px auto 0; */
padding: 6px 0 10px !important;
/* display: inline; */
display: block;

font-size: 12px !important;

line-height: 14px !important;
width: initial;
}



.step.one .top .wrap {
width: 430px;
margin: auto;
}