h1, h2 {color: green;}

body.quote-page #all-content {
width: 100%;
box-shadow: none;
background: white;
}
body.no-sidebars #main {padding: 0;}

body.quote-page .tabs-wrapper, body.quote-page .messages {
width: 980px;
margin: auto;
position: relative;
}

.node-type-quote .version-wrapper {
height: 800px;
}
