/* http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans */
/* <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> */
/*
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  /*src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');*/
  /*
  src: local('Open Sans'), local('OpenSans'), url(/sites/all/libraries/fonts/google/open-sans/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
*/

/* http://www.cufonfonts.com/en/font/492/myriad-pro */
@font-face {
  font-family: Myriad Pro Semibold;
  font-style: bold;
  src: url("/sites/all/libraries/fonts/cufon/myriad-pro/MYRIADPRO-SEMIBOLD.OTF") format("opentype");
}