.section-wrap {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
  .section-wrap:before, .section-wrap:after {
    content: "";
    display: table; }
  .section-wrap:after {
    clear: both; }
.section-title__left {
  float: left;
  box-sizing: border-box; }
  .section-title__left .section-title-heading {
    text-align: left;
    font-weight: 500;
    font-size: 39px;
    color: #045da0; }
    .section-title__left .section-title-heading-inner {
      color: #e39315; }
  .section-title__left .section-title-desc {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    color: #595959;
    max-width: 350px;
    margin: 4px 0 0 2px; }
  @media screen and (max-width: 1000px) {
    .section-title__left .section-title-heading {
      font-size: 36px; }
    .section-title__left .section-title-desc {
      max-width: 290px; } }
  @media screen and (max-width: 900px) {
    .section-title__left {
      float: none !important;
      clear: both;
      margin: 0 auto;
      text-align: center; }
      .section-title__left .section-title-heading {
        font-size: 35px;
        padding-bottom: 4px; }
      .section-title__left .section-title-desc {
        margin: 0 auto;
        width: 90%;
        max-width: 500px;
        font-size: 17px;
        line-height: 23px; } }
.section-title__center {
  text-align: center;
  box-sizing: border-box; }
  .section-title__center .section-title-heading {
    width: 90%;
    margin: 0 auto; }
  .section-title__center .section-title-desc {
    width: 90%;
    max-width: 550px;
    margin: 5px auto 0; }
    .section-title__center .section-title-desc .section-title-desc-highlight {
      font-weight: 600;
      color: #045da0; }

#main {
  background-color: #fbfbfb; }

.hero-title-heading-highlight {
  font-weight: 600; }

.about-title, .about-desc {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  text-align: center; }
.about-title {
  margin-top: 80px;
  font-size: 32px;
  font-weight: 400;
  color: #045da0; }
  .about-title:first-child {
    margin-top: 40px; }
.about-desc {
  margin-top: 20px;
  font-size: 15px;
  line-height: 24px;
  color: #2f2f2f; }

.assoc {
  margin: 80px 0; }
  .assoc:before, .assoc:after {
    content: "";
    display: table; }
  .assoc:after {
    clear: both; }
  .assoc-wrap {
    width: 100%;
    max-width: 900px;
    margin: 0 auto; }
  .assoc-title {
    float: left;
    width: 35.3333333333%;
    font-size: 32px;
    font-weight: 400;
    color: #045da0;
    text-align: left;
    line-height: 146px; }
    @media screen and (max-width: 820px) {
      .assoc-title {
        float: none;
        width: 100%;
        text-align: center;
        line-height: 2.4; } }
  .assoc-list {
    float: left;
    width: 64.6666666667%;
    height: 150px; }
    @media screen and (max-width: 820px) {
      .assoc-list {
        float: none;
        width: 100%; } }
    .assoc-list-item {
      position: relative;
      float: left;
      width: 33.3333333333%;
      height: 100%;
      display: block; }
      .assoc-list-item-img {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        right: 0;
        display: block;
        max-width: 90%;
        height: auto !important;
        margin: 0 auto; }
  .assoc-warning {
    display: block;
    clear: both;
    position: relative;
    top: 20px;
    font-size: 13px; }
    @media screen and (max-width: 820px) {
      .assoc-warning {
        text-align: center;
        top: 40px; } }
