.section-wrap {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
  .section-wrap:before, .section-wrap:after {
    content: "";
    display: table; }
  .section-wrap:after {
    clear: both; }
.section-title__left {
  float: left;
  box-sizing: border-box; }
  .section-title__left .section-title-heading {
    text-align: left;
    font-weight: 500;
    font-size: 39px;
    color: #045da0; }
    .section-title__left .section-title-heading-inner {
      color: #e39315; }
  .section-title__left .section-title-desc {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    color: #595959;
    max-width: 350px;
    margin: 4px 0 0 2px; }
  @media screen and (max-width: 1000px) {
    .section-title__left .section-title-heading {
      font-size: 36px; }
    .section-title__left .section-title-desc {
      max-width: 290px; } }
  @media screen and (max-width: 900px) {
    .section-title__left {
      float: none !important;
      clear: both;
      margin: 0 auto;
      text-align: center; }
      .section-title__left .section-title-heading {
        font-size: 35px;
        padding-bottom: 4px; }
      .section-title__left .section-title-desc {
        margin: 0 auto;
        width: 90%;
        max-width: 500px;
        font-size: 17px;
        line-height: 23px; } }
.section-title__center {
  text-align: center;
  box-sizing: border-box; }
  .section-title__center .section-title-heading {
    width: 90%;
    margin: 0 auto; }
  .section-title__center .section-title-desc {
    width: 90%;
    max-width: 550px;
    margin: 5px auto 0; }
    .section-title__center .section-title-desc .section-title-desc-highlight {
      font-weight: 600;
      color: #045da0; }

.field-name-field-preface-bottom {
  margin-top: 39px;
  float: left;
  width: 67.4336283186%; }
  .page-node-98 .field-name-field-preface-bottom {
    width: 100%;
    float: none; }
  @media screen and (max-width: 1024px) {
    .field-name-field-preface-bottom {
      width: 100%; } }
  .js .field-name-field-preface-bottom {
    width: 100%;
    float: none; }
    .js .field-name-field-preface-bottom > .field-items > .field-item:nth-of-type(1) {
      float: left;
      width: 67.4336283186%; }
      @media screen and (max-width: 1024px) {
        .js .field-name-field-preface-bottom > .field-items > .field-item:nth-of-type(1) {
          width: 100%; } }
    .js .field-name-field-preface-bottom > .field-items > .field-item:nth-of-type(2) {
      clear: both; }
      .js .field-name-field-preface-bottom > .field-items > .field-item:nth-of-type(2):before, .js .field-name-field-preface-bottom > .field-items > .field-item:nth-of-type(2):after {
        content: "";
        display: table; }
      .js .field-name-field-preface-bottom > .field-items > .field-item:nth-of-type(2):after {
        clear: both; }
    .js .field-name-field-preface-bottom > .field-items p {
      margin-bottom: 15px; }
  .page-node-287 .field-name-field-preface-bottom > .field-items > .field-item:nth-of-type(1) ul li {
    padding: 0 0 20px 40px; }
  .page-node-98 .field-name-field-preface-bottom > .field-items > .field-item:nth-of-type(1) {
    width: 100%;
    float: none; }

.paragraph-title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 5px; }
  .field-item:nth-of-type(1) .paragraph-title {
    margin-top: 0; }

.more-link.hidden {
  display: none; }

.preface-title {
  font-size: 26px;
  font-weight: 500; }

@media screen and (max-width: 480px) {
  .disclosure-inner {
    display: none; } }

.chart.horizontal {
  width: 100%;
  background: white;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  border-collapse: separate; }
  .chart.horizontal thead {
    height: 70px; }
  .chart.horizontal .thead-item {
    position: relative;
    height: 70px;
    border-bottom: 3px solid #045da0;
    text-align: center;
    color: #045da0; }
    .chart.horizontal .thead-item-text {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 10px;
      font-size: 13px;
      font-weight: 700;
      color: #045da0;
      text-transform: uppercase;
      letter-spacing: 0.6px; }
    .chart.horizontal .thead-item-icon {
      position: absolute;
      left: 0;
      right: 0;
      top: 12px; }
      .chart.horizontal .thead-item-icon.icon-provider {
        font-size: 27px; }
      .chart.horizontal .thead-item-icon.icon-features {
        font-size: 24px; }
      .chart.horizontal .thead-item-icon.icon-price {
        font-size: 23px; }
      .chart.horizontal .thead-item-icon.icon-setup {
        font-size: 22px; }
      .chart.horizontal .thead-item-icon.icon-free-trial {
        font-size: 22px; }
      .chart.horizontal .thead-item-icon.icon-faxing {
        font-size: 22px; }
      .chart.horizontal .thead-item-icon.icon-moneyback {
        font-size: 23px; }
      .chart.horizontal .thead-item-icon.icon-review {
        font-size: 21px; }
      .chart.horizontal .thead-item-icon.icon-details {
        font-size: 24px; }
    .chart.horizontal .thead-item-php-6 {
      width: 20.3539823009%; }
    .chart.horizontal .thead-item-php-0 {
      width: 24.4247787611%; }
    .chart.horizontal .thead-item-php-2 {
      width: 11.3274336283%; }
    .chart.horizontal .thead-item-php-3 {
      width: 6.7256637168%; }
    .chart.horizontal .thead-item-php-8, .chart.horizontal .thead-item-php-11 {
      width: 11.0619469027%; }
    .chart.horizontal .thead-item-php-4 {
      width: 10.796460177%; }
    .chart.horizontal .thead-item-php-5 {
      width: 15.6637168142%; }
    .chart.horizontal .thead-item-php-1 {
      width: 15.6637168142%; }
      .page-node-98 .chart.horizontal .thead-item-php-1 {
        width: 34.2477876106%; }
    .page-node-98 .chart.horizontal .thead-item-php {
      width: 19.203539823%; }
    .chart.horizontal .thead-item-php-9 {
      width: 6.017699115%; }
    .chart.horizontal .thead-item-php-10 {
      width: 7.7876106195%; }
  .page-node-98 .chart.horizontal tbody tr {
    min-height: 225px; }
  .chart.horizontal .tbody-item {
    height: 119px;
    border-top: 1px solid #d1d1d1;
    box-sizing: border-box; }
    .chart.horizontal .tbody-item[class^="tbody-item tbody-item-php-"] {
      text-align: center; }
    .chart.horizontal .tbody-item-feature {
      font-size: 14px;
      font-weight: 600;
      color: #045da0; }
      .chart.horizontal .tbody-item-feature-item {
        position: relative;
        font-size: 13px;
        line-height: 18px;
        font-weight: 500;
        color: #777777;
        padding-left: 22px; }
        .page-node-98 .chart.horizontal .tbody-item-feature-item {
          padding-left: 0; }
        .chart.horizontal .tbody-item-feature-item:after {
          content: "M";
          position: absolute;
          left: 3px;
          top: -2px;
          font-family: gvcons;
          font-size: 14px;
          color: #e39315; }
          .page-node-98 .chart.horizontal .tbody-item-feature-item:after {
            content: ""; }
          @media screen and (max-width: 736px) {
            .chart.horizontal .tbody-item-feature-item:after {
              content: ""; } }
    .chart.horizontal .tbody-item-rating-text {
      font-size: 24px;
      font-weight: 600; }
    .chart.horizontal .tbody-item-rating-link {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      color: #595959; }
      .chart.horizontal .tbody-item-rating-link:hover {
        color: #045da0; }
    @media screen and (min-width: 736px) {
      .chart.horizontal .tbody-item-rating .fivestar {
        width: 84px;
        margin: 0 auto; }
        .chart.horizontal .tbody-item-rating .fivestar:before, .chart.horizontal .tbody-item-rating .fivestar:after {
          content: "";
          display: table; }
        .chart.horizontal .tbody-item-rating .fivestar:after {
          clear: both; }
        .chart.horizontal .tbody-item-rating .fivestar-item {
          position: relative;
          float: left;
          display: block;
          overflow: visible;
          width: 14px;
          height: 15px;
          margin-left: 3px; }
          .chart.horizontal .tbody-item-rating .fivestar-item:nth-child(1) {
            margin-left: 0; }
          .chart.horizontal .tbody-item-rating .fivestar-item:after {
            content: "(";
            position: absolute;
            top: -2px;
            left: 0;
            font-family: gvcons;
            font-size: 16px;
            color: #d1d1d1;
            z-index: 1;
            cursor: default; }
          .chart.horizontal .tbody-item-rating .fivestar-item-on {
            position: relative;
            z-index: 2;
            display: block;
            width: 14px;
            height: 15px;
            overflow: hidden; }
            .chart.horizontal .tbody-item-rating .fivestar-item-on:after {
              overflow: visible;
              content: "(";
              position: absolute;
              top: -2px;
              left: 0;
              display: block;
              font-family: gvcons;
              font-size: 16px;
              color: #ffba00;
              cursor: default; } }
    .chart.horizontal .tbody-item-button {
      position: relative;
      display: block;
      width: 80.5%;
      height: 40px;
      background-color: #e39315;
      border-radius: 3px;
      color: white;
      transition: all 0.15s;
      box-sizing: border-box;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: block;
      margin: 0 auto;
      cursor: pointer; }
      .chart.horizontal .tbody-item-button-text {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        right: 0;
        top: 55%;
        width: 100%;
        font-size: 19px;
        font-weight: 600;
        text-align: center; }
      .chart.horizontal .tbody-item-button:hover {
        background-color: #be7b12;
        color: white; }
      .chart.horizontal .tbody-item-button-text-icon {
        position: relative;
        top: 2px;
        right: -5px;
        font-size: 16px;
        margin-left: -9px; }
    .chart.horizontal .tbody-item-php-6 {
      position: relative; }
      .chart.horizontal .tbody-item-php-6 a {
        display: block; }
      .chart.horizontal .tbody-item-php-6 .sprite-div {
        margin: 0 auto; }
    .chart.horizontal .tbody-item-php-2 {
      font-size: 22px;
      font-weight: 700;
      color: #045da0; }
    .chart.horizontal .tbody-item-php-3 {
      text-transform: uppercase; }
    .chart.horizontal .tbody-item-php-11 {
      padding: 0 10px;
      box-sizing: border-box; }
    .chart.horizontal .tbody-item-php-3, .chart.horizontal .tbody-item-php-11 {
      font-size: 17px; }
    .chart.horizontal .tbody-item-php {
      padding: 15px 0; }
    .page-node-98 .chart.horizontal .tbody-item-php-1 {
      padding: 25px 0;
      text-align: left;
      font-size: 13px; }
  .chart.horizontal tr:nth-child(1) .tbody-item {
    border-top: 0; }

.chart.sticky-table {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1130px;
  margin: 0 auto;
  background: 0;
  border-bottom: 0;
  border-radius: 0;
  z-index: 5;
  box-sizing: border-box; }
  .chart.sticky-table.show {
    display: table; }
  .chart.sticky-table _:-ms-input-placeholder, :root .chart.sticky-table {
    display: none; }
  .page-node-98 .chart.sticky-table, .ie .chart.sticky-table {
    display: none; }
  .chart.sticky-table tr {
    background-color: white; }
  @media screen and (max-width: 1130px) {
    .chart.sticky-table {
      width: 100%;
      padding: 0 20px;
      border-top: 0; } }
  @media screen and (max-width: 1170px) and (min-width: 1131px) {
    .chart.sticky-table {
      width: 96.5%; } }

.vertical {
  width: 100%;
  background: white;
  margin-top: 30px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  border-collapse: separate; }
  @media screen and (max-width: 786px) {
    .vertical {
      display: none; } }
  .vertical-left {
    width: 13.2743362832%;
    max-width: 150px;
    border-bottom: 1px solid #d1d1d1;
    padding: 8px 10px 6px 20px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    box-sizing: border-box;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto; }
  .vertical-item {
    border-left: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    text-align: center; }
    .vertical-item-last {
      border-bottom: 0; }
  .cols4 .vertical-item {
    width: 21.6814159292%; }
  .cols5 .vertical-item {
    width: 17.3451327434%; }
  .cols6 .vertical-item {
    width: 14.4247787611%; }
  .cols7 .vertical-item {
    width: 12.389380531%; }
  .cols8 .vertical-item {
    width: 10.8407079646%; }
  .vertical-thead-logos-empty {
    position: relative;
    border-bottom: 0 !important;
    padding-left: 0; }
    .vertical-thead-logos-empty-rank {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: #045da0; }
      .vertical-thead-logos-empty-rank-title {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 53%;
        padding-left: 25px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 700;
        letter-spacing: 0.6px;
        color: white;
        text-transform: uppercase; }
  .vertical-thead-logos-item {
    border-bottom: 0 !important;
    border-left: 0; }
    .vertical-thead-logos-item-logo {
      position: relative;
      display: block;
      height: 107px; }
      .vertical-thead-logos-item-logo-img .sprite-div {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: 0 auto; }
      @media screen and (max-width: 786px) {
        .vertical-thead-logos-item-logo {
          width: 60%;
          height: auto;
          min-height: 65px;
          float: left; }
          .vertical-thead-logos-item-logo:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-right: 1px solid #d1d1d1; }
          .vertical-thead-logos-item-logo .sprite-div {
            position: absolute;
            right: 0;
            left: -10px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%); } }
    @media screen and (max-width: 786px) and (max-width: 375px) {
      .vertical-thead-logos-item-logo .sprite-div {
        -webkit-transform: scale(0.89);
        -ms-transform: scale(0.89);
        transform: scale(0.89);
        -webkit-transform-origin: 50% -400%;
        -ms-transform-origin: 50% -400%;
        transform-origin: 50% -400%; } }
    @media screen and (max-width: 786px) and (max-width: 320px) {
      .vertical-thead-logos-item-logo .sprite-div {
        -webkit-transform: scale(0.73);
        -ms-transform: scale(0.73);
        transform: scale(0.73);
        -webkit-transform-origin: 35% -150%;
        -ms-transform-origin: 35% -150%;
        transform-origin: 35% -150%; } }

    .vertical-thead-logos-item-rank {
      position: relative;
      height: 60px;
      background-color: #045da0;
      color: white;
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      padding: 15px 0;
      box-sizing: border-box;
      z-index: 1; }
      .vertical-thead-logos-item-rank-hash {
        font-size: 16px;
        line-height: 1;
        vertical-align: text-top;
        z-index: 2; }
    .vertical-thead-logos-item:nth-child(2) .vertical-thead-logos-item-rank {
      font-size: 25px;
      padding: 17px 0; }
      .vertical-thead-logos-item:nth-child(2) .vertical-thead-logos-item-rank:before {
        content: "d";
        position: absolute;
        top: 6px;
        left: 2px;
        right: 0;
        font-size: 45px;
        font-weight: 400;
        font-family: gvcons;
        color: #ffba00;
        z-index: -1; }
      .mobile .vertical-thead-logos-item:nth-child(2) .vertical-thead-logos-item-rank:before {
        top: 3px; }
  .vertical-tbody-caption {
    background-color: #045da0;
    height: 36px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: white; }
    .vertical-tbody-caption-text {
      padding-left: 20px;
      padding-top: 4px;
      box-sizing: border-box; }
  .vertical-tbody-divider {
    height: 42px; }
  .vertical-tbody-graphs-legend-list {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    text-transform: none; }
    .vertical-tbody-graphs-legend-list-item {
      position: relative;
      height: 13px;
      margin: 10px 0 0;
      padding-left: 21px;
      box-sizing: border-box;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -o-hyphens: none;
      hyphens: none; }
      .vertical-tbody-graphs-legend-list-item:nth-child(1) {
        margin: 0; }
      .vertical-tbody-graphs-legend-list-item:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 13px;
        height: 13px; }
      .vertical-tbody-graphs-legend-list-item:nth-child(1):before {
        background-color: #b2b2b2; }
      .vertical-tbody-graphs-legend-list-item:nth-child(2):before {
        background-color: #666666; }
      .vertical-tbody-graphs-legend-list-item:nth-child(3):before {
        background-color: #595959; }
      .vertical-tbody-graphs-legend-list-item:nth-child(4):before {
        background-color: #85caff; }
      .vertical-tbody-graphs-legend-list-item:nth-child(5):before {
        background-color: #0984e0; }
      .vertical-tbody-graphs-legend-list-item:nth-child(6):before {
        background-color: #045da0; }
  .vertical-tbody-graphs-item {
    height: 162px;
    position: relative; }
    .vertical-tbody-graphs-item-wrap {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 85%;
      max-width: 131px;
      height: 73.1707317073%;
      margin: 0 auto; }
      .vertical-tbody-graphs-item-wrap:before, .vertical-tbody-graphs-item-wrap:after {
        content: "";
        display: table; }
      .vertical-tbody-graphs-item-wrap:after {
        clear: both; }
    .vertical-tbody-graphs-item-bar {
      position: absolute;
      float: left;
      vertical-align: bottom;
      width: 12.213740458%;
      background-color: #000; }
      .vertical-tbody-graphs-item-bar:nth-child(1) {
        background-color: #b2b2b2; }
      .vertical-tbody-graphs-item-bar:nth-child(2) {
        background-color: #666666; }
      .vertical-tbody-graphs-item-bar:nth-child(3) {
        background-color: #595959; }
      .vertical-tbody-graphs-item-bar:nth-child(4) {
        background-color: #85caff; }
      .vertical-tbody-graphs-item-bar:nth-child(5) {
        background-color: #0984e0; }
      .vertical-tbody-graphs-item-bar:nth-child(6) {
        background-color: #045da0; }
      .vertical-tbody-graphs-item-bar:nth-child(1) {
        left: 0%;
        bottom: 0; }
      .vertical-tbody-graphs-item-bar:nth-child(2) {
        left: 17.557252%;
        bottom: 0; }
      .vertical-tbody-graphs-item-bar:nth-child(3) {
        left: 35.114504%;
        bottom: 0; }
      .vertical-tbody-graphs-item-bar:nth-child(4) {
        left: 52.671756%;
        bottom: 0; }
      .vertical-tbody-graphs-item-bar:nth-child(5) {
        left: 70.229008%;
        bottom: 0; }
      .vertical-tbody-graphs-item-bar:nth-child(6) {
        left: 87.78626%;
        bottom: 0; }
  .vertical-tbody-reviews-item {
    padding: 9px 0;
    text-align: center;
    box-sizing: border-box; }
    .vertical-tbody-reviews-item-rating {
      font-size: 24px;
      line-height: 1.1;
      font-weight: 600; }
      @media screen and (min-width: 786px) {
        .vertical-tbody-reviews-item-rating-fivestar {
          width: 90px;
          margin: 0 auto;
          margin-bottom: 1px; }
          .vertical-tbody-reviews-item-rating-fivestar:before, .vertical-tbody-reviews-item-rating-fivestar:after {
            content: "";
            display: table; }
          .vertical-tbody-reviews-item-rating-fivestar:after {
            clear: both; }
          .vertical-tbody-reviews-item-rating-fivestar-item {
            position: relative;
            float: left;
            display: block;
            overflow: visible;
            width: 15px;
            height: 16.0714285714px;
            margin-left: 3.2142857143px; }
            .vertical-tbody-reviews-item-rating-fivestar-item:nth-child(1) {
              margin-left: 0; }
            .vertical-tbody-reviews-item-rating-fivestar-item:after {
              content: "(";
              position: absolute;
              top: -2px;
              left: 0;
              font-family: gvcons;
              font-size: 17.1428571429px;
              color: #d1d1d1;
              z-index: 1;
              cursor: default; }
            .vertical-tbody-reviews-item-rating-fivestar-item-on {
              position: relative;
              z-index: 2;
              display: block;
              width: 15px;
              height: 16.0714285714px;
              overflow: hidden; }
              .vertical-tbody-reviews-item-rating-fivestar-item-on:after {
                overflow: visible;
                content: "(";
                position: absolute;
                top: -2px;
                left: 0;
                display: block;
                font-family: gvcons;
                font-size: 17.1428571429px;
                color: #ffba00;
                cursor: default; } }
      @media screen and (max-width: 786px) {
        .vertical-tbody-reviews-item-rating-fivestar {
          display: inline-block;
          width: 66px;
          margin: 0 auto;
          margin-left: 5px; }
          .vertical-tbody-reviews-item-rating-fivestar:before, .vertical-tbody-reviews-item-rating-fivestar:after {
            content: "";
            display: table; }
          .vertical-tbody-reviews-item-rating-fivestar:after {
            clear: both; }
          .vertical-tbody-reviews-item-rating-fivestar-item {
            position: relative;
            float: left;
            display: block;
            overflow: visible;
            width: 11px;
            height: 11.7857142857px;
            margin-left: 2.3571428571px; }
            .vertical-tbody-reviews-item-rating-fivestar-item:nth-child(1) {
              margin-left: 0; }
            .vertical-tbody-reviews-item-rating-fivestar-item:after {
              content: "(";
              position: absolute;
              top: -2px;
              left: 0;
              font-family: gvcons;
              font-size: 12.5714285714px;
              color: #d1d1d1;
              z-index: 1;
              cursor: default; }
            .vertical-tbody-reviews-item-rating-fivestar-item-on {
              position: relative;
              z-index: 2;
              display: block;
              width: 11px;
              height: 11.7857142857px;
              overflow: hidden; }
              .vertical-tbody-reviews-item-rating-fivestar-item-on:after {
                overflow: visible;
                content: "(";
                position: absolute;
                top: -2px;
                left: 0;
                display: block;
                font-family: gvcons;
                font-size: 12.5714285714px;
                color: #ffba00;
                cursor: default; } }
      @media screen and (max-width: 375px) {
        .vertical-tbody-reviews-item-rating-fivestar {
          margin-left: 3px; } }
    .vertical-tbody-reviews-item-read {
      font-size: 11px;
      font-weight: 600;
      color: #045da0;
      text-transform: uppercase;
      letter-spacing: 0.4px; }
      .vertical-tbody-reviews-item-read:hover {
        text-decoration: underline; }
  .vertical-tbody-details-item {
    padding: 10px 0;
    box-sizing: border-box; }
    .vertical-tbody-details-item-button {
      position: relative;
      display: block;
      width: 90%;
      height: 33px;
      background-color: #e39315;
      border-radius: 3px;
      color: white;
      transition: all 0.15s;
      box-sizing: border-box;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      max-width: 116px;
      margin: 0 auto;
      cursor: pointer; }
      .vertical-tbody-details-item-button-text {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        right: 0;
        top: 51%;
        width: 100%;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        text-align: center; }
      .vertical-tbody-details-item-button:hover {
        background-color: #be7b12;
        color: white; }
      .vertical-tbody-details-item-button-text {
        left: 5px;
        font-size: 16px;
        font-weight: 600;
        text-transform: none;
        color: white; }
        .vertical-tbody-details-item-button-text-icon {
          position: relative;
          left: -5px;
          top: 2px;
          font-size: 15px; }
  .vertical-tbody-option {
    background: white !important; }
    .vertical-tbody-option-value {
      font-size: 14px;
      padding: 3px 8px 0; }
      .vertical-tbody-option-value-icon_yes:before {
        content: "C";
        color: #6ec11c; }
      .vertical-tbody-option-value-icon_no:before {
        content: "F";
        color: #777777; }
      .vertical-tbody-option-value-icon:before {
        font-family: gvcons;
        font-size: 21px; }
      .vertical-tbody-option-value-additional span {
        display: block;
        padding: 1px 0 4px; }
  .vertical tr:last-child .vertical-left {
    border-bottom: 0; }

.vertical-mobile {
  display: none;
  width: 100%;
  background: white;
  margin-top: 30px;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  border-collapse: separate; }
  @media screen and (max-width: 786px) {
    .vertical-mobile {
      display: block; } }
  .vertical-mobile-thead {
    display: none; }
  .vertical-mobile-tbody {
    display: block;
    border-top: 0; }
    .vertical-mobile-tbody-row {
      position: relative;
      display: block;
      width: 100%;
      min-height: 200px;
      padding: 30px 20px;
      border-top: 1px solid #d1d1d1;
      box-sizing: border-box; }
      .vertical-mobile-tbody-row:nth-child(1) {
        border-top: 0; }
      .vertical-mobile-tbody-row-logo, .vertical-mobile-tbody-row-price, .vertical-mobile-tbody-row-rating, .vertical-mobile-tbody-row-features, .vertical-mobile-tbody-row-details {
        display: block;
        text-align: center; }
      .vertical-mobile-tbody-row-price {
        font-size: 22px;
        font-weight: 700;
        color: #045da0; }
        .vertical-mobile-tbody-row-price-text {
          display: inline; }
        @media screen and (max-width: 786px) {
          .vertical-mobile-tbody-row-price {
            position: relative;
            right: -8px;
            top: -2px;
            width: 40%;
            float: right; }
            .vertical-mobile-tbody-row-price:after {
              content: "/mo";
              position: relative;
              left: 2px;
              font-size: 18px;
              font-weight: 400; }
            .vertical-mobile-tbody-row-price:before {
              content: "";
              position: absolute;
              left: 0px;
              right: 0;
              bottom: -2px;
              width: 95px;
              margin: 0 auto;
              border-bottom: 1px solid #d1d1d1; } }
        @media screen and (max-width: 375px) {
          .vertical-mobile-tbody-row-price {
            font-size: 19px; }
            .vertical-mobile-tbody-row-price:after {
              font-size: 14px; }
            .vertical-mobile-tbody-row-price:before {
              width: 90px; } }
      .vertical-mobile-tbody-row-rating {
        float: right;
        width: 40%; }
        .vertical-mobile-tbody-row-rating-details {
          position: relative;
          right: -10px;
          margin-top: 5px; }
          .vertical-mobile-tbody-row-rating-details-rating {
            font-weight: 600;
            font-size: 18px;
            line-height: 18px;
            display: inline-block; }
        .vertical-mobile-tbody-row-rating-read {
          position: relative;
          top: -4px;
          right: -10px;
          font-size: 10px;
          letter-spacing: 0.9px;
          text-transform: uppercase;
          font-weight: 600;
          color: #999999; }
          .vertical-mobile-tbody-row-rating-read:hover {
            color: #045da0; }
        @media screen and (max-width: 375px) {
          .vertical-mobile-tbody-row-rating-details-rating {
            position: relative;
            top: -1px;
            font-size: 15px;
            line-height: 15px; } }
      .vertical-mobile-tbody-row-details {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        bottom: 30px;
        padding: 0 20px;
        box-sizing: border-box; }
        .vertical-mobile-tbody-row-details-button {
          position: relative;
          display: block;
          width: 80.5%;
          height: 40px;
          background-color: #e39315;
          border-radius: 3px;
          color: white;
          transition: all 0.15s;
          box-sizing: border-box;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          display: block;
          width: 100%;
          min-width: 142px;
          margin: 0 auto; }
          .vertical-mobile-tbody-row-details-button-text {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 0;
            right: 0;
            top: 55%;
            width: 100%;
            font-size: 19px;
            font-weight: 600;
            text-align: center; }
          .vertical-mobile-tbody-row-details-button:hover {
            background-color: #be7b12;
            color: white; }
          .vertical-mobile-tbody-row-details-button-text {
            color: white; }
            .vertical-mobile-tbody-row-details-button-text-icon {
              position: relative;
              top: 2px;
              right: -5px;
              font-size: 16px;
              margin-left: -9px; }

.latest-reviews {
  padding-top: 70px; }
  .latest-reviews-title {
    text-align: center;
    font-weight: 400;
    font-size: 39px;
    color: #666666;
    margin-bottom: 20px; }
  .latest-reviews-list:before, .latest-reviews-list:after {
    content: "";
    display: table; }
  .latest-reviews-list:after {
    clear: both; }
  .latest-reviews-list-item {
    position: relative;
    float: left;
    width: 31.7699115044%;
    min-height: 230px;
    margin-right: 2.3008849558%;
    padding: 25px;
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    box-sizing: border-box; }
    .latest-reviews-list-item.last {
      margin-right: 0; }
      @media screen and (max-width: 920px) {
        .latest-reviews-list-item.last {
          margin: 0 auto; } }
    .latest-reviews-list-item-header:before, .latest-reviews-list-item-header:after {
      content: "";
      display: table; }
    .latest-reviews-list-item-header:after {
      clear: both; }
    .latest-reviews-list-item-header-logo-alt {
      position: relative;
      float: left;
      display: block;
      min-height: 65px;
      width: 60%;
      border-right: 1px solid #d1d1d1;
      box-sizing: border-box; }
      .latest-reviews-list-item-header-logo-alt-text {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 55%;
        left: 0;
        right: 0;
        display: block;
        padding: 0 10px;
        font-size: 22px;
        line-height: 1;
        font-weight: 600;
        text-align: center;
        color: #034f87;
        box-sizing: border-box;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -o-hyphens: auto;
        hyphens: auto; }
    .latest-reviews-list-item-header-logo {
      position: relative;
      display: block;
      min-height: 65px;
      width: 60%;
      float: left;
      border-right: 1px solid #d1d1d1;
      box-sizing: border-box; }
      .latest-reviews-list-item-header-logo .sprite-div {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -10px;
        right: 0;
        margin: 0 auto; }
@media screen and (max-width: 1064px) and (min-width: 920px) {
  .latest-reviews-list-item-header-logo .sprite-div {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: 35% -150%;
    -ms-transform-origin: 35% -150%;
    transform-origin: 35% -150%; } }

    .latest-reviews-list-item-header-cta {
      display: block;
      width: 40%;
      float: left; }
      .latest-reviews-list-item-header-cta-fivestar {
        position: relative;
        right: -10px;
        width: 90px;
        margin: 0 auto;
        margin: 6px auto 0; }
        .latest-reviews-list-item-header-cta-fivestar:before, .latest-reviews-list-item-header-cta-fivestar:after {
          content: "";
          display: table; }
        .latest-reviews-list-item-header-cta-fivestar:after {
          clear: both; }
        .latest-reviews-list-item-header-cta-fivestar-item {
          position: relative;
          float: left;
          display: block;
          overflow: visible;
          width: 15px;
          height: 16.0714285714px;
          margin-left: 3.2142857143px; }
          .latest-reviews-list-item-header-cta-fivestar-item:nth-child(1) {
            margin-left: 0; }
          .latest-reviews-list-item-header-cta-fivestar-item:after {
            content: "(";
            position: absolute;
            top: -2px;
            left: 0;
            font-family: gvcons;
            font-size: 17.1428571429px;
            color: #d1d1d1;
            z-index: 1;
            cursor: default; }
          .latest-reviews-list-item-header-cta-fivestar-item-on {
            position: relative;
            z-index: 2;
            display: block;
            width: 15px;
            height: 16.0714285714px;
            overflow: hidden; }
            .latest-reviews-list-item-header-cta-fivestar-item-on:after {
              overflow: visible;
              content: "(";
              position: absolute;
              top: -2px;
              left: 0;
              display: block;
              font-family: gvcons;
              font-size: 17.1428571429px;
              color: #ffba00;
              cursor: default; }
      .latest-reviews-list-item-header-cta-button {
        position: relative;
        right: -10px;
        display: block;
        position: relative;
        display: block;
        width: 100px;
        height: 30px;
        background-color: #e39315;
        border-radius: 3px;
        color: white;
        transition: all 0.15s;
        box-sizing: border-box;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        max-width: 100%;
        margin: 6px auto 0; }
        .latest-reviews-list-item-header-cta-button-text {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 0;
          right: 0;
          top: 51%;
          width: 100%;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          text-align: center; }
        .latest-reviews-list-item-header-cta-button:hover {
          background-color: #be7b12;
          color: white; }
        .latest-reviews-list-item-header-cta-button-text {
          color: white;
          letter-spacing: 0.4px;
          height: 100%;
          line-height: 33px; }
    .latest-reviews-list-item-title {
      font-size: 16px;
      font-weight: 600;
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      display: block;
      margin: 20px 0 3px; }
    .latest-reviews-list-item-content {
      display: inline;
      font-size: 14px;
      font-weight: 500; }
    .latest-reviews-list-item-author {
      display: inline;
      font-size: 14px;
      font-weight: 500;
      color: #045da0; }
    .latest-reviews-list-item-more {
      position: absolute;
      right: 25px;
      bottom: 10px;
      display: block;
      font-size: 11px;
      font-weight: 600;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      color: #045da0; }
      .latest-reviews-list-item-more:hover {
        text-decoration: underline; }
    @media screen and (max-width: 920px) {
      .latest-reviews-list-item {
        float: none;
        margin-right: 0;
        margin: 0 auto 23px;
        width: 100%;
        max-width: 359px; } }
  @media screen and (max-width: 736px) {
    .latest-reviews {
      display: none; } }
