@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; }
  html.safari {
    height: auto !important; }

body {
  margin: 0; }

html,
body {
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  text-decoration: none;
  color: #045da0; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 600; }

dfn {
  font-style: italic; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea,
p {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

select {
  cursor: pointer; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  border: 0;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input,
select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -ms-appearance: none !important;
  -o-appearance: none !important;
  appearance: none !important;
  outline: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
  box-sizing: border-box; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  width: 100%;
  overflow: auto;
  box-sizing: border-box; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.wrap {
  box-sizing: border-box; }

@font-face {
  font-family: "gvcons";
  src: url("../fonts/gvcons3.eot");
  src: url("../fonts/gvcons3.eot?#iefix") format("embedded-opentype"), url("../fonts/gvcons3.woff") format("woff"), url("../fonts/gvcons3.ttf") format("truetype"), url("../fonts/gvcons3.svg#gvcons3") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "gvcons";
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gvcons";
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  cursor: default;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.icon-arrow:before {
  content: "a"; }

.icon-arrow-down:before {
  content: "b"; }

.icon-award:before {
  content: "c"; }

.icon-badge:before {
  content: "d"; }

.icon-factor-customer-xp:before {
  content: "e"; }

.icon-factor-customer-xp-2:before {
  content: "f"; }

.icon-factor-features:before {
  content: "g"; }

.icon-factor-features-2:before {
  content: "h"; }

.icon-factor-pricing:before {
  content: "i"; }

.icon-factor-pricing-2:before {
  content: "j"; }

.icon-factor-quality:before {
  content: "k"; }

.icon-factor-quality-2:before {
  content: "l"; }

.icon-factor-refund:before {
  content: "m"; }

.icon-factor-refund-2:before {
  content: "n"; }

.icon-factor-reliability:before {
  content: "o"; }

.icon-factor-reliability-2:before {
  content: "p"; }

.icon-factor-setup:before {
  content: "q"; }

.icon-factor-setup-2:before {
  content: "r"; }

.icon-factor-uptime:before {
  content: "s"; }

.icon-factor-uptime-2:before {
  content: "t"; }

.icon-bottom-line:before {
  content: "u"; }

.icon-browse:before {
  content: "v"; }

.icon-business:before {
  content: "w"; }

.icon-calendar:before {
  content: "x"; }

.icon-callcenter:before {
  content: "y"; }

.icon-checkmark:before {
  content: "z"; }

.icon-go:before {
  content: "A"; }

.icon-free-trial:before {
  content: "B"; }

.icon-features:before {
  content: "C"; }

.icon-faxing:before {
  content: "D"; }

.icon-fax:before {
  content: "E"; }

.icon-falsemark:before {
  content: "F"; }

.icon-facebook:before {
  content: "G"; }

.icon-email:before {
  content: "H"; }

.icon-download:before {
  content: "I"; }

.icon-details:before {
  content: "J"; }

.icon-customer:before {
  content: "K"; }

.icon-conferencing:before {
  content: "L"; }

.icon-checkmark-inline:before {
  content: "M"; }

.icon-google-plus:before {
  content: "N"; }

.icon-in-box:before {
  content: "O"; }

.icon-integration:before {
  content: "P"; }

.icon-linkedin:before {
  content: "Q"; }

.icon-locaiton:before {
  content: "S"; }

.icon-moneyback:before {
  content: "U"; }

.icon-more:before {
  content: "V"; }

.icon-notepad:before {
  content: "W"; }

.icon-load:before {
  content: "R"; }

.icon-lock:before {
  content: "T"; }

.icon-overview:before {
  content: "X"; }

.icon-pbx:before {
  content: "Y"; }

.icon-pinterest:before {
  content: "Z"; }

.icon-solution-cc:before {
  content: "0"; }

.icon-solution-bu:before {
  content: "1"; }

.icon-sip:before {
  content: "2"; }

.icon-setup:before {
  content: "3"; }

.icon-service-location:before {
  content: "4"; }

.icon-rss:before {
  content: "5"; }

.icon-review:before {
  content: "6"; }

.icon-residential:before {
  content: "7"; }

.icon-quote-up:before {
  content: "8"; }

.icon-quote-down:before {
  content: "9"; }

.icon-provider-info:before {
  content: "!"; }

.icon-provider:before {
  content: '"'; }

.icon-price:before {
  content: "#"; }

.icon-solution-wc:before {
  content: "$"; }

.icon-solution-pbx:before {
  content: "%"; }

.icon-solution-re:before {
  content: "&"; }

.icon-solution-sip:before {
  content: "'"; }

.icon-star:before {
  content: "("; }

.icon-step-advice:before {
  content: ")"; }

.icon-step-advice-2:before {
  content: "*"; }

.icon-step-browse:before {
  content: "+"; }

.icon-step-browse-2:before {
  content: ","; }

.icon-step-winner:before {
  content: "-"; }

.icon-step-winner-2:before {
  content: "."; }

.icon-stumble:before {
  content: "/"; }

.icon-support:before {
  content: ":"; }

.icon-twitter:before {
  content: ""; }

.icon-website:before {
  content: "<"; }

.icon-youtube:before {
  content: "="; }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Black.eot");
  src: local("☺"), url("../fonts/AvenirLTStd-Black.woff") format("woff"), url("../fonts/AvenirLTStd-Black.ttf") format("truetype"), url("../fonts/AvenirLTStd-Black.svg") format("svg");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Book.eot");
  src: local("☺"), url("../fonts/AvenirLTStd-Book.woff") format("woff"), url("../fonts/AvenirLTStd-Book.ttf") format("truetype"), url("../fonts/AvenirLTStd-Book.svg") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Heavy.eot");
  src: local("☺"), url("../fonts/AvenirLTStd-Heavy.woff") format("woff"), url("../fonts/AvenirLTStd-Heavy.ttf") format("truetype"), url("../fonts/AvenirLTStd-Heavy.svg") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Medium.eot");
  src: local("☺"), url("../fonts/AvenirLTStd-Medium.woff") format("woff"), url("../fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("../fonts/AvenirLTStd-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }
.mobile-column,
.get_quote_popup {
  display: none !important; }

#gv-misc-newslettersubscribe-form,
.attachment.attachment-before {
  display: none; }

.item-list {
  display: none; }

#edit-provider-wrapper {
  display: none; }

.element-invisible {
  display: none; }

.navigation {
  height: 94px;
  background-color: white;
  border-bottom: 3px solid #045da0; }
  @media screen and (max-width: 450px) {
    .navigation {
      height: 110px; }
      .page-node-287 .navigation {
        height: 80px; } }
  .navigation-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }
  .navigation-logo {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 47%; }
    @media screen and (max-width: 450px) {
      .navigation-logo {
        top: 0;
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0); } }
    .navigation-logo-slogan {
      float: left;
      height: 100%;
      padding-top: 27px;
      padding-left: 30px;
      font-size: 15px;
      font-weight: 500;
      color: #777777; }
      @media screen and (max-width: 768px) {
        .navigation-logo-slogan {
          display: none; }
          .page-node-287 .navigation-logo-slogan {
            display: block; } }
    @media screen and (max-width: 768px) and (max-width: 550px) {
      .page-node-287 .navigation-logo-slogan {
        display: none; } }

    .navigation-logo-link {
      position: relative;
      float: left; }
      @media screen and (max-width: 550px) {
        .navigation-logo-link-img {
          width: 165px;
          height: 42.5px; } }
      @media screen and (max-width: 450px) {
        .navigation-logo-link {
          margin: 0 auto;
          float: none;
          display: block;
          width: 165px;
          top: 13px; } }
      .navigation-logo-link:after {
        content: "";
        position: absolute;
        top: 15px;
        right: -16px;
        height: 40px;
        border-right: 1px solid #bfbfbf; }
        @media screen and (max-width: 768px) {
          .navigation-logo-link:after {
            display: none; }
            .page-node-287 .navigation-logo-link:after {
              display: block; } }
    @media screen and (max-width: 768px) and (max-width: 550px) {
      .page-node-287 .navigation-logo-link:after {
        display: none; } }

  .navigation .main-menu {
    float: right;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 53%;
    right: 20px; }
    @media screen and (max-width: 450px) {
      .navigation .main-menu {
        float: none;
        top: 0;
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        left: 10px;
        right: 0;
        top: 75px;
        margin: 0 auto;
        width: 178px; } }
    .navigation .main-menu-item {
      float: left;
      cursor: pointer;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .navigation .main-menu-item:before, .navigation .main-menu-item:after {
        content: "";
        display: table; }
      .navigation .main-menu-item:after {
        clear: both; }
      .navigation .main-menu-item-link {
        color: #595959;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase; }
        @media screen and (max-width: 550px) {
          .navigation .main-menu-item-link {
            font-size: 13px; } }
      .navigation .main-menu-item.first {
        position: relative;
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid #bfbfbf; }
        @media screen and (max-width: 550px) {
          .navigation .main-menu-item.first {
            margin-right: 9px;
            padding-right: 9px; } }
        .navigation .main-menu-item.first:before {
          content: "v";
          position: absolute;
          top: -5px;
          left: -34px;
          font-family: gvcons;
          font-size: 23px;
          color: #045da0; }
          @media screen and (max-width: 550px) {
            .navigation .main-menu-item.first:before {
              font-size: 20px;
              top: -1px;
              left: -30px; } }

.gecko .main-menu-item.first:before {
  top: -4px; }

.ie .main-menu-item.first:before {
  top: -2px; }

.mobile .main-menu-item.first:before {
  top: -4px; }

.solution-nav {
  height: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #045da0;
  box-sizing: border-box;
  transition: height 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  @media screen and (min-width: 1400px) {
    .solution-nav {
      padding: 0 60px; } }
  .solution-nav.open {
    height: 185px; }
  .solution-nav-wrap {
    width: 100%;
    min-width: 1040px;
    height: 100%;
    overflow: hidden; }
    .solution-nav-wrap .main-menu-item {
      position: relative;
      float: left;
      width: 14.2857142857%;
      height: 100%;
      background-color: #045da0;
      text-align: center;
      transition: background-color 0.15s;
      cursor: pointer; }
      .solution-nav-wrap .main-menu-item:hover {
        background-color: #023e6b; }
      .solution-nav-wrap .main-menu-item-link {
        width: 100%;
        height: 100%;
        display: block; }
        .solution-nav-wrap .main-menu-item-link-text {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 45px;
          display: block;
          width: 95%;
          margin: 0 auto;
          font-size: 15px;
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 0.4px;
          color: white;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          .solution-nav-wrap .main-menu-item-link-text:before {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 60px;
            display: block;
            font-weight: 400;
            line-height: 0;
            font-family: gvcons;
            text-transform: none; }
        .solution-nav-wrap .main-menu-item-link[href="/business"] .main-menu-item-link-text:before {
          content: "w";
          font-size: 88px; }
        .solution-nav-wrap .main-menu-item-link[href="/hosted-pbx"] .main-menu-item-link-text:before {
          content: "Y";
          font-size: 59px; }
        .solution-nav-wrap .main-menu-item-link[href="/fax"] .main-menu-item-link-text:before {
          content: "E";
          font-size: 63px; }
        .solution-nav-wrap .main-menu-item-link[href="/residential"] .main-menu-item-link-text:before {
          content: "7";
          font-size: 62px; }
        .solution-nav-wrap .main-menu-item-link[href="/sip-trunking"] .main-menu-item-link-text:before {
          content: "2";
          font-size: 66px; }
        .solution-nav-wrap .main-menu-item-link[href="/cloud-contact-center"] .main-menu-item-link-text:before {
          content: "y";
          font-size: 82px; }
        .solution-nav-wrap .main-menu-item-link[href="/web-conferencing"] .main-menu-item-link-text:before {
          content: "L";
          font-size: 99px; }

@media screen and (max-width: 1170px) {
  .solution-nav.open {
    height: 150px; }
  .solution-nav .main-menu-item-link-text {
    bottom: 34px;
    font-size: 14px; }
    .solution-nav .main-menu-item-link-text:before {
      bottom: 54px; }
  .solution-nav .main-menu-item-link[href="/business"] .main-menu-item-link-text:before {
    content: "w";
    font-size: 70.4px; }
  .solution-nav .main-menu-item-link[href="/hosted-pbx"] .main-menu-item-link-text:before {
    content: "Y";
    font-size: 47.2px; }
  .solution-nav .main-menu-item-link[href="/fax"] .main-menu-item-link-text:before {
    content: "E";
    font-size: 50.4px; }
  .solution-nav .main-menu-item-link[href="/residential"] .main-menu-item-link-text:before {
    content: "7";
    font-size: 52.08px; }
  .solution-nav .main-menu-item-link[href="/sip-trunking"] .main-menu-item-link-text:before {
    content: "2";
    font-size: 52.8px; }
  .solution-nav .main-menu-item-link[href="/cloud-contact-center"] .main-menu-item-link-text:before {
    content: "y";
    font-size: 68.88px; }
  .solution-nav .main-menu-item-link[href="/web-conferencing"] .main-menu-item-link-text:before {
    content: "L";
    font-size: 79.2px;
    bottom: 52px; } }
.footer {
  padding: 28px 0 22px;
  background-color: #383737;
  box-sizing: border-box; }
  .footer-wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }
    .footer-wrap:before, .footer-wrap:after {
      content: "";
      display: table; }
    .footer-wrap:after {
      clear: both; }
    .footer-wrap-left {
      float: left;
      height: 21px; }
    .footer-wrap-right {
      float: right; }
      .footer-wrap-right:before, .footer-wrap-right:after {
        content: "";
        display: table; }
      .footer-wrap-right:after {
        clear: both; }
    @media screen and (max-width: 768px) {
      .footer-wrap-left {
        float: none;
        margin: 0 auto; }
        .footer-wrap-left:before, .footer-wrap-left:after {
          content: "";
          display: table; }
        .footer-wrap-left:after {
          clear: both; }
      .footer-wrap-right {
        float: none;
        margin: 0 auto;
        display: inline; }
        .footer-wrap-right:before, .footer-wrap-right:after {
          content: "";
          display: table; }
        .footer-wrap-right:after {
          clear: both; } }
  .footer-nav:before, .footer-nav:after {
    content: "";
    display: table; }
  .footer-nav:after {
    clear: both; }
  .footer-nav-item {
    margin-left: 28px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block; }
    @media screen and (max-width: 1024px) {
      .footer-nav-item {
        font-size: 14px; } }
    .footer-nav-item:nth-child(1) {
      margin-left: 0; }
    .footer-nav-item-link {
      color: white; }
  @media screen and (max-width: 768px) {
    .footer-nav {
      text-align: center; } }
  @media screen and (max-width: 414px) {
    .footer-nav {
      max-width: 340px;
      margin: 0 auto; }
      .footer-nav-item:nth-child(4), .footer-nav-item:nth-child(5) {
        margin-left: 0px; } }
  .footer-copyright {
    float: left;
    color: white;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    opacity: 0.5; }
    @media screen and (max-width: 920px) {
      .footer-copyright {
        float: none;
        text-align: right; } }
    @media screen and (max-width: 768px) {
      .footer-copyright {
        margin: 16px 0 0;
        text-align: center; } }
    @media screen and (max-width: 414px) {
      .footer-copyright {
        margin: 35px 0 0; } }
  .footer-social-links {
    float: left;
    margin-left: 6px; }
    .footer-social-links:before, .footer-social-links:after {
      content: "";
      display: table; }
    .footer-social-links:after {
      clear: both; }
    .footer-social-links-item {
      float: left;
      margin-left: 20px;
      font-size: 15px;
      opacity: 0.5;
      transition: opacity 0.2s; }
      .footer-social-links-item:hover {
        opacity: 1; }
      .footer-social-links-item a[class="Twitter"] {
        color: white; }
        .footer-social-links-item a[class="Twitter"]:after {
          content: ";";
          font-family: gvcons; }
      .footer-social-links-item a[class="Facebook"] {
        color: white; }
        .footer-social-links-item a[class="Facebook"]:after {
          content: "G";
          font-family: gvcons; }
      .footer-social-links-item a[class="GooglePlus"] {
        color: white; }
        .footer-social-links-item a[class="GooglePlus"]:after {
          content: "N";
          font-family: gvcons; }
      .footer-social-links-item a[class="LinkedIn"] {
        color: white; }
        .footer-social-links-item a[class="LinkedIn"]:after {
          content: "Q";
          font-family: gvcons; }
      .footer-social-links-item a[class="YouTube"] {
        color: white; }
        .footer-social-links-item a[class="YouTube"]:after {
          content: "=";
          font-family: gvcons; }
      .footer-social-links-item a[class="Rss"] {
        color: white; }
        .footer-social-links-item a[class="Rss"]:after {
          content: "5";
          font-family: gvcons; }
    @media screen and (max-width: 920px) {
      .footer-social-links {
        float: right;
        margin: 10px 0 0; } }
    @media screen and (max-width: 768px) {
      .footer-social-links {
        float: none;
        width: 190px;
        margin: 10px auto 0; }
        .footer-social-links-item:nth-child(1) {
          margin-left: 0; } }

.hero-header {
  background-size: cover; }
  .hero-header.left {
    padding: 60px 0 55px; }
    @media screen and (max-height: 878px) {
      .hero-header.left {
        padding: 45px 0 45px; } }
  .front .hero-header {
    background-image: url(../images/img-hero.jpg);
    background-position: 80% 50%;
    height: 504px;
    position: relative; }
    @media screen and (max-height: 878px) {
      .front .hero-header {
        height: 404px; } }
    @media screen and (max-width: 768px) {
      .front .hero-header {
        height: 404px; } }
    @media screen and (max-width: 620px) {
      .front .hero-header {
        background-image: url(../images/img-hero-m.jpg); } }
    @media screen and (max-width: 450px) {
      .front .hero-header {
        height: 375px; } }
  .bu .hero-header, .ca .hero-header, .sip .hero-header, .pbx .hero-header, .crm .hero-header, .cb .hero-header {
    background-image: url(../images/img-business.jpg);
    background-position: 80% 0%; }
    @media screen and (max-width: 620px) {
      .bu .hero-header, .ca .hero-header, .sip .hero-header, .pbx .hero-header, .crm .hero-header, .cb .hero-header {
        background-image: url(../images/img-business-m.jpg); } }
  .re .hero-header {
    background-image: url(../images/img-residential.jpg);
    background-position: 80% 0%; }
    @media screen and (max-width: 620px) {
      .re .hero-header {
        background-image: url(../images/img-residential-m.jpg); } }
  .ifa .hero-header {
    background-image: url(../images/img-fax.jpg);
    background-position: 100% 100%; }
    @media screen and (max-width: 620px) {
      .ifa .hero-header {
        background-image: url(../images/img-fax-m.jpg); } }
  .cc .hero-header {
    background-image: url(../images/img-call-center.jpg);
    background-position: 0% 50%; }
    @media screen and (max-width: 620px) {
      .cc .hero-header {
        background-image: url(../images/img-call-center-m.jpg); } }
  .wc .hero-header {
    background-image: url(../images/img-wc.jpg);
    background-position: 50% 35%; }
    @media screen and (max-width: 620px) {
      .wc .hero-header {
        background-image: url(../images/img-wc-m.jpg); } }
  .page-node-98 .hero-header {
    background-image: url(../images/img-reviews.jpg);
    background-position: 80% 45%; }
    @media screen and (max-width: 620px) {
      .page-node-98 .hero-header {
        background-image: url(../images/img-reviews-m.jpg); } }
  .page-node-804 .hero-header {
    background-image: url(../images/img-voip.jpg);
    background-position: 80% 45%; }
    @media screen and (max-width: 620px) {
      .page-node-804 .hero-header {
        background-image: url(../images/img-voip-m.jpg); } }
  .page-node-62 .hero-header, .page-node-91 .hero-header, .page-user .hero-header {
    background-image: url(../images/img-getvoip.jpg);
    background-position: 80% 50%;
    height: 340px; }
    @media screen and (max-width: 620px) {
      .page-node-62 .hero-header, .page-node-91 .hero-header, .page-user .hero-header {
        background-image: url(../images/img-getvoip-m.jpg); } }
    @media screen and (max-width: 450px) {
      .page-node-62 .hero-header, .page-node-91 .hero-header, .page-user .hero-header {
        height: 300px; } }
  .page-node-62 .hero-header, .page-node-91 .hero-header {
    height: 340px; }
    @media screen and (max-height: 878px) {
      .page-node-62 .hero-header, .page-node-91 .hero-header {
        height: 300px; } }
  .page-node-38 .hero-header {
    background-image: url(../images/img-getvoip.jpg);
    background-position: 80% 50%;
    height: 465px; }
    @media screen and (max-height: 878px) {
      .page-node-38 .hero-header {
        height: 360px; } }
    @media screen and (max-width: 620px) {
      .page-node-38 .hero-header {
        background-image: url(../images/img-getvoip-m.jpg); } }
    @media screen and (max-width: 450px) {
      .page-node-38 .hero-header {
        height: 340px; } }
  .hero-header h1:not(.hero-title-heading) {
    position: absolute;
    top: 700px;
    left: 0;
    right: 0;
    z-index: -1; }

.center .hero-title {
  position: relative;
  text-align: center;
  color: white;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .center .hero-title-heading {
    font-weight: 300;
    font-size: 42px; }
  .center .hero-title-desc {
    padding-top: 15px;
    font-size: 19px;
    line-height: 25px;
    font-weight: 500;
    opacity: 0.7; }
  @media screen and (max-width: 768px) {
    .center .hero-title-heading {
      font-size: 36px; }
    .center .hero-title-desc {
      font-size: 17px;
      line-height: 23px; } }
  @media screen and (max-width: 450px) {
    .center .hero-title-heading {
      font-size: 30px; }
    .center .hero-title-desc {
      font-size: 16px;
      line-height: 21px; } }
  .center .hero-title-heading {
    width: 90%;
    max-width: 750px;
    margin: 0 auto; }
    .center .hero-title-heading-strong {
      font-weight: 600; }
  .center .hero-title-desc {
    width: 90%;
    max-width: 540px;
    margin: 0 auto; }

.left .hero-title {
  position: relative;
  text-align: left;
  color: white;
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box; }
  .left .hero-title-heading {
    font-weight: 300;
    font-size: 36px; }
  .left .hero-title-desc {
    padding-top: 15px;
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
    opacity: 0.7; }
  @media screen and (max-width: 768px) {
    .left .hero-title-heading {
      font-size: 36px; }
    .left .hero-title-desc {
      font-size: 17px;
      line-height: 23px; } }
  @media screen and (max-width: 450px) {
    .left .hero-title-heading {
      font-size: 30px; }
    .left .hero-title-desc {
      font-size: 16px;
      line-height: 21px; } }
  @media screen and (max-width: 738px) {
    .left .hero-title-heading {
      text-align: center; } }
  .left .hero-title-desc {
    max-width: 910px;
    margin-top: 8px; }
    .left .hero-title-desc .disclosure {
      display: none; }
    @media screen and (max-width: 738px) {
      .left .hero-title-desc {
        display: none; } }

.section-wrap {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
  .section-wrap:before, .section-wrap:after {
    content: "";
    display: table; }
  .section-wrap:after {
    clear: both; }
.section-title__left {
  float: left;
  box-sizing: border-box; }
  .section-title__left .section-title-heading {
    text-align: left;
    font-weight: 500;
    font-size: 39px;
    color: #045da0; }
    .section-title__left .section-title-heading-inner {
      color: #e39315; }
  .section-title__left .section-title-desc {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    color: #595959;
    max-width: 350px;
    margin: 4px 0 0 2px; }
  @media screen and (max-width: 1000px) {
    .section-title__left .section-title-heading {
      font-size: 36px; }
    .section-title__left .section-title-desc {
      max-width: 290px; } }
  @media screen and (max-width: 900px) {
    .section-title__left {
      float: none !important;
      clear: both;
      margin: 0 auto;
      text-align: center; }
      .section-title__left .section-title-heading {
        font-size: 35px;
        padding-bottom: 4px; }
      .section-title__left .section-title-desc {
        margin: 0 auto;
        width: 90%;
        max-width: 500px;
        font-size: 17px;
        line-height: 23px; } }
.section-title__center {
  text-align: center;
  box-sizing: border-box; }
  .section-title__center .section-title-heading {
    width: 90%;
    margin: 0 auto; }
  .section-title__center .section-title-desc {
    width: 90%;
    max-width: 550px;
    margin: 5px auto 0; }
    .section-title__center .section-title-desc .section-title-desc-highlight {
      font-weight: 600;
      color: #045da0; }

.get-quote-wrapper {
  width: 100%;
  background-color: #fbfbfb;
  padding: 70px 0;
  box-sizing: border-box; }
  @media screen and (max-width: 920px) {
    .get-quote-wrapper {
      border-top: 1px solid #d1d1d1; } }
  @media screen and (max-width: 736px) {
    .get-quote-wrapper {
      display: none !important; } }
  .get-quote-wrapper-wrap {
    width: 100%;
    max-width: 1170px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box; }
    .get-quote-wrapper-wrap:before, .get-quote-wrapper-wrap:after {
      content: "";
      display: table; }
    .get-quote-wrapper-wrap:after {
      clear: both; }

.get-quote {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  overflow: hidden; }
  .get-quote-title {
    font-size: 36px;
    max-width: 75%;
    margin: 0 auto;
    padding-top: 30px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: #045da0; }
  .get-quote-subtitle {
    margin: 10px auto 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    color: #777777; }
  .get-quote-form {
    box-sizing: border-box;
    padding: 25px 45px 45px; }
    .get-quote-form .step {
      width: 100%;
      float: none;
      display: none;
      text-align: left; }
      .get-quote-form .step.show {
        display: block; }
    .get-quote-form-button {
      position: relative;
      float: none;
      clear: both;
      display: block;
      width: 100%;
      margin-top: 25px;
      height: 53px;
      border-radius: 3px;
      background-color: #e39315;
      font-weight: 600;
      line-height: 55px;
      color: white;
      cursor: pointer;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .get-quote-form-button-text {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 54%;
        left: 0;
        right: 16px;
        font-size: 22px;
        font-weight: 400;
        line-height: 1;
        text-align: center; }
        .get-quote-form-button-text:after {
          content: "aa";
          position: absolute;
          top: 0px;
          font-family: gvcons;
          font-size: 19px;
          font-weight: 700;
          letter-spacing: -10px; }
        .get-quote-form-button-text-highlight {
          font-weight: 700; }
      .get-quote-form-button.input {
        display: none; }
  .get-quote-fieldset {
    position: relative;
    width: 100%;
    margin-top: 22px; }
    .get-quote-fieldset.error {
      color: #666666;
      border-radius: 5px;
      background-image: none;
      background-color: transparent; }
    .get-quote-fieldset:nth-child(-n+2) {
      margin-top: 2px; }
    .get-quote-fieldset.half {
      width: 47.9865771812%;
      float: left; }
      .get-quote-fieldset.half:nth-child(2n) {
        margin-left: 4.0268456376%; }
    .get-quote-fieldset-wrap {
      width: 100%;
      position: relative; }
      .select .get-quote-fieldset-wrap:after {
        content: "b";
        position: absolute;
        right: 12px;
        top: 20px;
        line-height: 1;
        font-family: gvcons;
        font-size: 15px; }
    .get-quote-fieldset-label {
      position: absolute;
      z-index: 2;
      line-height: 1;
      margin-bottom: 7px;
      font-size: 11px;
      font-weight: 600;
      color: #b2b2b2;
      padding: 11px 12px 0;
      opacity: 0;
      transition: opacity 0.2s; }
      .focus .get-quote-fieldset-label {
        color: #e39315; }
      .filled .get-quote-fieldset-label {
        opacity: 1; }
    .get-quote-fieldset-input, .get-quote-fieldset-select {
      width: 100%;
      height: 52px;
      background-color: #f8f8f8;
      border: 1px solid #d1d1d1;
      border-radius: 3px;
      box-sizing: border-box;
      padding: 4px 11px 0;
      font-size: 16px;
      font-weight: 500;
      transition: all 0.2s; }
      .filled .get-quote-fieldset-input, .filled .get-quote-fieldset-select {
        padding: 16px 11px 0; }
      .focus .get-quote-fieldset-input, .focus .get-quote-fieldset-select {
        border-color: #e39315; }
      .error .get-quote-fieldset-input, .error .get-quote-fieldset-select {
        border-color: #E34B4F; }
  .get-quote-upsale {
    position: relative;
    top: 20px;
    clear: both;
    font-size: 14px;
    font-weight: 500;
    color: #979797;
    margin: 40px 0; }
    .get-quote-upsale:before, .get-quote-upsale:after {
      content: "";
      display: table; }
    .get-quote-upsale:after {
      clear: both; }
    .get-quote-upsale-text {
      float: left;
      width: 70%; }
  .get-quote .results {
    height: 319px;
    position: relative; }
    .get-quote .results:empty {
      height: 0; }
  .get-quote .results-success {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 56%;
    left: 0;
    right: 0;
    max-width: 70%;
    margin: 0 auto;
    font-size: 16px;
    text-align: center; }
    .get-quote .results-success p {
      margin-bottom: 20px; }

.popup {
  position: fixed;
  z-index: 1001;
  width: 100%;
  max-width: 745px;
  border-radius: 5px;
  background-color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  top: 40%;
  opacity: 0;
  transition: opacity 0.4s, top 0.4s; }
  .popup.show {
    opacity: 1;
    top: 50%; }
  .popup.exit {
    max-width: 807px;
    border-radius: 0; }
  .popup-overlay {
    position: fixed;
    z-index: 1000;
    display: none;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.4s; }
    .popup-overlay.show {
      display: block;
      opacity: 0.92; }
  .popup-content {
    height: 100%;
    max-height: 100vh; }
    @media screen and (max-width: 736px) {
      .popup-content {
        overflow-x: hidden;
        overflow-y: scroll; } }
  .popup-close {
    position: absolute;
    z-index: 2000;
    right: 10px;
    top: 45px;
    display: none; }
    .popup-close:after {
      content: "F";
      font-family: gvcons;
      color: #777777;
      font-size: 22px;
      cursor: pointer;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    @media screen and (max-width: 736px) {
      .popup-close {
        display: block; } }

.results-success {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  max-width: 70%;
  margin: 0 auto;
  font-size: 22px;
  text-align: center; }
  .results-success p {
    margin-bottom: 20px; }

.exit-intent {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 546px;
  text-align: center;
  line-height: initial; }
  .exit-intent-ppc, .exit-intent-form, .exit-intent-form-wrap {
    height: 100%; }
  .exit-intent .step {
    width: 100%;
    height: 100%;
    border-top: 7px solid #e39315;
    box-sizing: border-box; }
  .exit-intent-intro {
    background-image: url(/sites/all/themes/gv_sky/images/img-exit-intent.jpg);
    background-size: cover;
    border-bottom: 1px solid #d1d1d1;
    line-height: initial; }
    .step-one .exit-intent-intro {
      height: 343px; }
    .step-two .exit-intent-intro {
      height: 329px; }
    .step-three .exit-intent-intro {
      height: 282px; }
    .exit-intent-intro-line-1.one {
      padding-top: 53px;
      font-size: 31px; }
    .exit-intent-intro-line-1.two {
      padding-top: 50px;
      font-size: 20px; }
      .exit-intent-intro-line-1.two:after {
        content: "";
        position: relative;
        top: 20px;
        display: block;
        margin: 0 auto;
        width: 25.4545454545%;
        border-bottom: 2px solid #b7b7b7; }
    .exit-intent-intro-line-1.three {
      padding-top: 30px;
      font-size: 23px; }
    .exit-intent-intro-line-2 {
      font-size: 55px;
      color: #e39315; }
      .exit-intent-intro-line-2.one {
        font-weight: 500;
        margin-top: 5px;
        text-transform: uppercase; }
      .exit-intent-intro-line-2.two {
        margin-top: 35px; }
    .exit-intent-intro-line-3-highlight {
      color: #045da0; }
    .exit-intent-intro-line-3.one:after, .exit-intent-intro-line-3.three:after {
      content: "";
      position: relative;
      top: 10px;
      display: block;
      margin: 0 auto;
      width: 31.8181818182%;
      border-bottom: 2px solid #b7b7b7; }
    .exit-intent-intro-line-3.one {
      font-size: 84px;
      line-height: 1.1;
      font-weight: 500;
      color: #e39315; }
    .exit-intent-intro-line-3.two {
      font-size: 65px;
      font-weight: 500;
      text-transform: uppercase;
      color: #045da0; }
    .exit-intent-intro-line-3.three {
      font-size: 65px;
      font-weight: 500;
      text-transform: uppercase;
      color: #045da0; }
    .exit-intent-intro-line-4.one {
      font-size: 20px;
      margin-top: 30px; }
    .exit-intent-intro-line-4.two {
      font-size: 40px; }
    .exit-intent-intro-line-4.three {
      font-size: 20px;
      margin-top: 30px; }
  .exit-intent-control {
    margin: 0 auto;
    width: auto; }
    .exit-intent-control:before, .exit-intent-control:after {
      content: "";
      display: table; }
    .exit-intent-control:after {
      clear: both; }
    .step-one .exit-intent-control {
      margin-top: 53px; }
    .step-two .exit-intent-control {
      margin-top: 33px; }
    .step-three .exit-intent-control {
      margin-top: 23px; }
    .exit-intent-control-button {
      position: relative;
      height: 70px;
      border-radius: 10px;
      background-color: #e39315;
      border-bottom: 5px solid #c27e12;
      color: white;
      cursor: pointer; }
      .step-one .exit-intent-control-button {
        float: left;
        width: 40.0247831475%;
        height: 90px;
        margin: 0 6.4436183395%; }
        .step-one .exit-intent-control-button:nth-child(2) {
          margin-left: 0; }
      .step-two .exit-intent-control-button {
        top: 4px;
        width: 40.0247831475%;
        clear: both;
        margin: 0 auto; }
      .step-three .exit-intent-control-button {
        width: 52.4163568773%;
        clear: both;
        margin: 0 auto; }
        .step-three .exit-intent-control-button:after {
          content: "aa";
          position: absolute;
          top: 27px;
          right: 36px;
          font-family: gvcons;
          font-size: 22px;
          font-weight: 400;
          letter-spacing: -10px; }
      .exit-intent-control-button.no {
        background-color: #c4c4c4;
        border-color: #b2b2b2; }
      .exit-intent-control-button-large {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 52%;
        float: left;
        padding: 15px 15px 0 22px;
        border-right: 3px solid #c27e12;
        font-size: 50px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase; }
        .no .exit-intent-control-button-large {
          border-color: #b2b2b2; }
      .exit-intent-control-button-small {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 53%;
        float: left;
        margin-left: 10px;
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
        text-align: left;
        width: 53%; }
      .exit-intent-control-button-text {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 54%;
        left: 0;
        right: 25px;
        font-size: 28px;
        font-weight: 700;
        line-height: 1; }
        .exit-intent-control-button-text:after {
          content: "aa";
          position: absolute;
          top: 3px;
          font-family: gvcons;
          font-size: 22px;
          font-weight: 400;
          letter-spacing: -10px; }
      .exit-intent-control-button-input {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        right: 40px;
        padding-right: 28px;
        background-color: #e39315;
        font-size: 28px;
        font-weight: 700;
        line-height: 78px;
        box-sizing: border-box; }
    .exit-intent-control-fieldset {
      float: left;
      width: 34.5454545455%;
      margin-bottom: 18px;
      border: 0; }
      .exit-intent-control-fieldset.error {
        color: #E34B4F;
        border-radius: 5px;
        background-image: none;
        background-color: transparent; }
      .exit-intent-control-fieldset:nth-child(1), .exit-intent-control-fieldset:nth-child(3) {
        margin-left: 13.8636363636%; }
      .exit-intent-control-fieldset:nth-child(2n) {
        margin-left: 2.2304832714%; }
      .exit-intent-control-fieldset-wrap {
        position: relative; }
        .select .exit-intent-control-fieldset-wrap:after {
          content: "b";
          position: absolute;
          right: 17px;
          top: 18px;
          font-family: gvcons;
          font-size: 18px; }
          .error .select .exit-intent-control-fieldset-wrap:after {
            color: #E34B4F; }
        .secure .exit-intent-control-fieldset-wrap:after {
          content: "T";
          position: absolute;
          right: 12px;
          top: 14px;
          font-family: gvcons;
          font-size: 22px;
          color: #d1d1d1; }
      .exit-intent-control-fieldset-input, .exit-intent-control-fieldset-select {
        width: 100%;
        border: 1px solid #d1d1d1;
        background-color: white;
        border-radius: 5px;
        height: 52px;
        display: block;
        padding: 12px 17px 8px;
        font-size: 16px;
        font-weight: 500;
        color: #595959; }
        .exit-intent-control-fieldset-input:focus, .exit-intent-control-fieldset-select:focus {
          border-color: #e39315; }
        .error .exit-intent-control-fieldset-input, .error .exit-intent-control-fieldset-select {
          border-color: #E34B4F; }

label {
  display: block;
  font-weight: bold; }

.g-recaptcha {
  margin-bottom: 25px; }

.js-controlled-form .step {
  display: none;
  text-align: center !important; }
  .js-controlled-form .step.show {
    display: block; }
.js-controlled-form .loading {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center; }
  .js-controlled-form .loading-title {
    font-size: 36px;
    font-weight: 500; }
  .js-controlled-form .loading-gif {
    background-image: url(/sites/all/themes/gv_sky/images/loading.gif);
    width: 64px;
    height: 64px;
    background-size: cover;
    margin: 0 auto; }

.error input,
.error select,
.error textarea,
.error.radio label,
.error.checkbox label {
  position: relative;
  -webkit-animation-name: shakey;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 200ms;
  -moz-animation-name: shakey;
  -moz-animation-timing-function: linear;
  -moz-animation-duration: 200ms;
  -ms-animation-name: shakey;
  -ms-animation-timing-function: linear;
  -ms-animation-duration: 200ms;
  animation-name: shakey;
  animation-timing-function: linear;
  animation-duration: 200ms; }

@-webkit-keyframes shakey {
  0% {
    left: -10px; }
  25% {
    left: 10px; }
  50% {
    left: -10px; }
  75% {
    left: 10px; }
  100% {
    left: 0px; } }
@-moz-keyframes shakey {
  0% {
    left: -10px; }
  25% {
    left: 10px; }
  50% {
    left: -10px; }
  75% {
    left: 10px; }
  100% {
    left: 0px; } }
@-ms-keyframes shakey {
  0% {
    left: -10px; }
  25% {
    left: 10px; }
  50% {
    left: -10px; }
  75% {
    left: 10px; }
  100% {
    left: 0px; } }
@keyframes shakey {
  0% {
    left: -10px; }
  25% {
    left: 10px; }
  50% {
    left: -10px; }
  75% {
    left: 10px; }
  100% {
    left: 0px; } }
/* ==========================================================================
 * Body
 * ========================================================================== */
body {
  font-family: avenir;
  font-size: 16px;
  color: #595959;
  overflow-x: hidden; }

.clearfix {
  clear: both;
  float: none; }

.main-wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

#main {
  background-color: white;
  padding: 60px 0;
  min-height: 79.1%; }
  .bu #main, .ca #main, .sip #main, .pbx #main, .crm #main, .cb #main, .re #main, .ifa #main, .cc #main, .wc #main {
    padding: 25px 0 60px; }

script[src="//www.googleadservices.com/pagead/conversion.js"] ~ img,
#google_conversion_110451053 {
  position: fixed;
  z-index: -100;
  top: 0; }

#disqus_thread {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
