#featured{ 
  /*
	width:400px; 
	padding-right:250px; 
	position:relative; 
	border:5px solid #ccc; 
	height:250px; overflow:hidden;
	background:#fff;
  */
  
  width: 770px;
  position: relative;
  border: none;
  /*height: 280px;*/
  overflow: hidden;
  background: none;
}
#featured ul.ui-tabs-nav{ 
	/*position:absolute; 
	top:0; left:400px; 
	list-style:none; 
	padding:0; margin:0; 
	width:250px; height:250px;
	overflow:auto;
	overflow-x:hidden;
  */
  
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  width: 290px;
  height: 220px;/*270px;*/
  overflow: auto;
  overflow-x: hidden;
  background: none;
  border: none;
  position: relative;
  z-index: 10;
}
#featured ul.ui-tabs-nav li{ 
  /*
	padding:1px 0; padding-left:13px;  
	font-size:12px; 
	color:#666; 
  */
  

  font-size: 12px;
  color: #666;
  clear: both;
  width: 100%;
  padding: 0;
  height: 48px;
  border: none;
  overflow: hidden;
  background: none;
}
#featured ul.ui-tabs-nav li img{ 
	float:left; margin:2px 5px; 
	background:#fff; 
	padding:2px; 
	border:1px solid #eee;
}
#featured ul.ui-tabs-nav li span{ 
	font-size:11px; font-family:Verdana; 
	line-height:18px; 
}
#featured li.ui-tabs-nav-item a{ 
  /*
	display:block; 
	height:60px; text-decoration:none;
	color:#333;  background:#fff; 
	line-height:20px; outline:none;
  */
  
  
  height: 100%;
  text-decoration: none;
  color: white;
  background: url("images/home_sprite_2.png") no-repeat 0 -48px transparent;
  line-height: 20px;
  outline: none;
  width: 260px;
  display: block;
  padding: 12px 0 0 25px;
  font-size: 20px;
  
}
#featured li.ui-tabs-nav-item a:hover{ 
	/*background:#f2f2f2; */
  /*background: url("images/home_sprite_1.png") no-repeat 0 0 transparent;*/
  position: relative;
  left: 2px;
}
#featured li.ui-tabs-selected, #featured li.ui-tabs-active{ 
	/*background:url('images/selected-item.gif') top left no-repeat;  */
}
#featured ul.ui-tabs-nav li.ui-tabs-selected a, #featured ul.ui-tabs-nav li.ui-tabs-active a{ 
	/*background:#ccc; */
  cursor: alias;
  background: url("images/home_sprite_2.png") no-repeat 0 0 transparent;
}
#featured .ui-tabs-panel{ 
  /*
	width:400px; height:250px; 
	background:#999; position:relative;
  */
  
  width: 465px;
  height: 195px;/*244px;*/
  background: white;
  position: absolute;
  left: 253px;
  top: 0;
  border-radius: 10px 0 0 10px;
  border: 4px solid orange;
  padding: 10px 10px 10px 40px;
  
}
#featured .ui-tabs-panel .info{ 
	/*position:absolute; 
	bottom:0; left:0; */
	height: 100%;
  /*background: url(/sites/all/themes/vr/css/images/transparent-bg.png);*/
  width: 470px;
  overflow-y: auto;
  overflow-x: hidden;
}
#featured .ui-tabs-panel .info a.hideshow{
	position:absolute; font-size:11px; font-family:Verdana; color:#f0f0f0; right:10px; top:-20px; line-height:20px; margin:0; outline:none; background:#333;
}
#featured .info h2{ 
	font-size:1.2em; font-family:Georgia, serif; 
	color:#fff; padding:5px; margin:0; font-weight:normal;
	overflow:hidden; 
}
#featured .info p{ 
	margin:0 5px; 
	font-family:Verdana; font-size:11px; 
	line-height:15px; color:#f0f0f0;
}
#featured .info a{ 
	text-decoration:none; 
	color:#fff; 
}
#featured .info a:hover{ 
	text-decoration:underline; 
}
#featured .ui-tabs-hide{ 
	display:none; 
}




#featured .ui-tabs-panel .node-blog-post {
width: 450px;
}