.section-wrap {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
  .section-wrap:before, .section-wrap:after {
    content: "";
    display: table; }
  .section-wrap:after {
    clear: both; }
.section-title__left {
  float: left;
  box-sizing: border-box; }
  .section-title__left .section-title-heading {
    text-align: left;
    font-weight: 500;
    font-size: 39px;
    color: #045da0; }
    .section-title__left .section-title-heading-inner {
      color: #e39315; }
  .section-title__left .section-title-desc {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    color: #595959;
    max-width: 350px;
    margin: 4px 0 0 2px; }
  @media screen and (max-width: 1000px) {
    .section-title__left .section-title-heading {
      font-size: 36px; }
    .section-title__left .section-title-desc {
      max-width: 290px; } }
  @media screen and (max-width: 900px) {
    .section-title__left {
      float: none !important;
      clear: both;
      margin: 0 auto;
      text-align: center; }
      .section-title__left .section-title-heading {
        font-size: 35px;
        padding-bottom: 4px; }
      .section-title__left .section-title-desc {
        margin: 0 auto;
        width: 90%;
        max-width: 500px;
        font-size: 17px;
        line-height: 23px; } }
.section-title__center {
  text-align: center;
  box-sizing: border-box; }
  .section-title__center .section-title-heading {
    width: 90%;
    margin: 0 auto; }
  .section-title__center .section-title-desc {
    width: 90%;
    max-width: 550px;
    margin: 5px auto 0; }
    .section-title__center .section-title-desc .section-title-desc-highlight {
      font-weight: 600;
      color: #045da0; }

/* ==========================================================================
 * 1. Solutions Section
 * ========================================================================== */
.section.one.solutions {
  background-color: white;
  border-bottom: 1px solid #d1d1d1;
  box-sizing: border-box;
  padding: 95px 0 55px; }
  @media screen and (max-height: 878px) {
    .section.one.solutions {
      padding: 75px 0 40px; } }
  @media screen and (max-width: 900px) {
    .section.one.solutions .section-title-heading {
      text-align: center; } }
  @media screen and (max-width: 620px) {
    .section.one.solutions {
      padding: 75px 0 30px; } }

.solutions-list {
  float: right;
  width: 61.9469026549%;
  padding: 0 6%;
  box-sizing: border-box; }
  .solutions-list:before, .solutions-list:after {
    content: "";
    display: table; }
  .solutions-list:after {
    clear: both; }
  .solutions-list-item {
    cursor: pointer;
    width: 50%;
    float: left;
    margin-bottom: 50px; }
    .solutions-list-item-link {
      position: relative;
      top: 0;
      display: block;
      padding: 0 30px;
      box-sizing: border-box;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: top 0.2s; }
      .solutions-list-item-link:before, .solutions-list-item-link:after {
        content: "";
        display: table; }
      .solutions-list-item-link:after {
        clear: both; }
      .solutions-list-item-link-title {
        position: absolute;
        color: #595959;
        font-size: 19px;
        font-weight: 600;
        left: 108px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        transition: color 0.2s; }
      .solutions-list-item-link-icon {
        float: left;
        width: 60px;
        height: 60px;
        border: 1px solid #045da0;
        border-radius: 50%;
        color: #045da0;
        box-sizing: border-box; }
        .solutions-list-item-link-icon-inner {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
          border: 3px solid white;
          border-radius: 50%;
          box-sizing: border-box; }
          .solutions-list-item-link-icon-inner:before {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            cursor: pointer; }
    .solutions-list-item:hover .solutions-list-item-link {
      top: -5px; }
      .solutions-list-item:hover .solutions-list-item-link-title {
        color: #045da0; }
  @media screen and (min-width: 1170px) {
    .solutions-list {
      width: 66.3716814159%;
      padding: 0 8%; } }
  @media screen and (max-width: 1000px) {
    .solutions-list {
      width: 60.1769911504%;
      padding: 0 4%; } }
  @media screen and (max-width: 900px) {
    .solutions-list {
      width: 90%;
      max-width: 600px;
      padding: 0;
      float: none;
      clear: both;
      margin: 0 auto;
      margin-top: 60px; }
      .solutions-list .solutions-list-item-link {
        padding: 0 10%; } }
  @media screen and (max-width: 620px) {
    .solutions-list .solutions-list-item-link-title {
      left: 40%;
      left: 97px;
      font-size: 18px; } }
  @media screen and (max-width: 520px) {
    .solutions-list .solutions-list-item {
      float: none;
      clear: both;
      width: 300px;
      margin: 0 auto 35px; }
      .solutions-list .solutions-list-item-link-title {
        left: 106px; } }

.icon-solution-bu:before {
  font-size: 46px;
  bottom: -6px; }

.icon-solution-pbx:before {
  font-size: 40px;
  top: 6px;
  left: 3px; }

.icon-solution-sip:before {
  font-size: 44px;
  top: 4px;
  left: 11px; }

.icon-solution-wc:before {
  font-size: 63px;
  bottom: -6px;
  left: -6px; }

.icon-solution-re:before {
  font-size: 40px;
  top: 7px; }

.icon-solution-cc:before {
  font-size: 57px;
  bottom: -11px;
  left: -3px; }

/* ==========================================================================
 * 2. Steps Section
 * ========================================================================== */
.section.two.steps {
  background-color: #fbfbfb;
  border-bottom: 1px solid #d1d1d1;
  box-sizing: border-box;
  padding: 104px 0; }
  @media screen and (max-height: 878px) {
    .section.two.steps {
      padding: 75px 0; } }
  @media screen and (max-width: 768px) {
    .section.two.steps {
      display: none; } }
  .section.two.steps .section-wrap:before, .section.two.steps .section-wrap:after {
    content: "";
    display: table; }
  .section.two.steps .section-wrap:after {
    clear: both; }
  .section.two.steps .section-title {
    margin-bottom: 94px; }
    @media screen and (max-height: 878px) {
      .section.two.steps .section-title {
        margin-bottom: 68px; } }
    .section.two.steps .section-title-heading {
      text-align: center;
      font-weight: 500;
      font-size: 38px;
      color: #045da0; }
    .section.two.steps .section-title-desc {
      font-size: 18px;
      line-height: 25px;
      font-weight: 500;
      color: #595959; }

.step {
  width: 33%;
  float: left;
  text-align: center; }
  .step-icon {
    position: relative;
    margin: 0 auto; }
    .step-icon-primary {
      position: absolute;
      top: 0;
      left: 0;
      color: #045da0; }
      .step-icon-primary:before {
        position: absolute;
        top: 0;
        left: 0; }
    .step-icon-secondary {
      position: absolute;
      color: #e39315; }
  .step-title {
    width: 90%;
    margin: 0 auto;
    font-weight: 500;
    font-size: 24px;
    color: #045da0; }
  .step-desc {
    width: 95%;
    max-width: 310px;
    margin: 10px auto 0;
    line-height: 24px;
    font-weight: 500;
    color: #595959; }

.step.one .step-icon {
  width: 99px;
  height: 76px;
  top: -2px;
  margin-bottom: 40px; }

.icon-step-browse {
  width: 91px;
  height: 71px;
  font-size: 91px; }

.icon-step-browse-2 {
  width: 50px;
  height: 47px;
  font-size: 50px;
  bottom: -9px;
  right: 0; }

.step.two .step-icon {
  width: 75px;
  height: 87px;
  margin-bottom: 30px; }

.icon-step-advice {
  width: 66px;
  height: 82px;
  font-size: 82px; }

.icon-step-advice-2 {
  width: 38px;
  height: 38px;
  font-size: 38px;
  bottom: -1px;
  right: -9px; }

.step.three .step-icon {
  width: 74px;
  height: 80px;
  margin-bottom: 37px; }

.icon-step-winner {
  width: 54px;
  height: 80px;
  font-size: 80px; }

.icon-step-winner-2 {
  width: 44px;
  height: 36px;
  font-size: 44px;
  bottom: 2px;
  right: -14px; }

/* ==========================================================================
 * 3. Testimonials Section
 * ========================================================================== */
.section.testimonials {
  background-color: white;
  border-bottom: 1px solid #d1d1d1;
  box-sizing: border-box;
  padding: 104px 0; }
  @media screen and (max-height: 878px) {
    .section.testimonials {
      padding: 85px 0; } }
  .section.testimonials .section-wrap {
    padding: 0 90px; }
    @media screen and (max-width: 768px) {
      .section.testimonials .section-wrap {
        padding: 0; } }
  .section.testimonials .section-title {
    margin-bottom: 94px; }
    .section.testimonials .section-title-heading {
      text-align: center;
      font-weight: 500;
      font-size: 34px;
      color: #666666; }
      @media screen and (max-width: 420px) {
        .section.testimonials .section-title-heading {
          font-size: 30px; } }
      .section.testimonials .section-title-heading-highlight {
        color: #045da0; }
    .section.testimonials .section-title-desc {
      font-size: 20px;
      line-height: 25px;
      font-weight: 500;
      color: #595959; }
      @media screen and (max-width: 420px) {
        .section.testimonials .section-title-desc {
          font-size: 18px; } }

.testimonial {
  width: 50%;
  float: left; }
  .testimonial-wrap {
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    box-sizing: border-box; }
  .testimonial-quote {
    margin-bottom: 35px;
    position: relative; }
    .testimonial-quote-text {
      position: relative;
      display: inline;
      font-size: 19px;
      font-weight: 500;
      color: #777777; }
      .testimonial-quote-text:before {
        content: "8";
        position: absolute;
        left: -35px;
        top: -17px;
        font-family: gvcons;
        font-size: 30px;
        color: #ebebeb; }
      .testimonial-quote-text:after {
        content: "9";
        position: absolute;
        padding-top: 5px;
        padding-left: 5px;
        font-family: gvcons;
        font-size: 30px;
        color: #ebebeb; }
  .testimonial-person {
    position: relative; }
    .testimonial-person:before, .testimonial-person:after {
      content: "";
      display: table; }
    .testimonial-person:after {
      clear: both; }
    .testimonial-person-img {
      float: left;
      width: 88px;
      height: 88px;
      border-radius: 50%;
      border: 1px solid #d1d1d1;
      box-sizing: border-box; }
      .testimonial-person-img-wrap {
        width: 78px;
        height: 78px;
        border: 4px solid white;
        border-radius: 50%;
        overflow: hidden; }
    .testimonial-person-details {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      float: left;
      left: 107px; }
      .testimonial-person-details-name {
        font-size: 17px;
        font-weight: 700;
        color: #777777; }
      .testimonial-person-details-company {
        font-size: 14px;
        font-weight: 500;
        color: #777777; }
  @media screen and (max-width: 900px) {
    .testimonial {
      float: none;
      width: 90%;
      margin: 0 auto; }
      .testimonial:nth-child(2) {
        margin-top: 80px; } }
  @media screen and (max-width: 736px) {
    .testimonial:nth-child(2) {
      display: none; } }

/* ==========================================================================
 * 4.Latest Blog Posts
 * ========================================================================== */
.section.four.posts {
  background-color: #fbfbfb;
  border-bottom: 1px solid #d1d1d1;
  box-sizing: border-box;
  padding: 105px 0; }
  @media screen and (max-height: 878px) {
    .section.four.posts {
      padding: 85px 0; } }
  .section.four.posts .section-title-button {
    position: relative;
    display: block;
    width: 193px;
    height: 53px;
    border: 2px solid #e39315;
    border-radius: 3px;
    color: #e39315;
    transition: all 0.2s;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin-top: 38px; }
    .section.four.posts .section-title-button-text {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      top: 51%;
      width: 100%;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      text-align: center; }
    .section.four.posts .section-title-button:hover {
      background-color: #e39315;
      color: white; }
  @media screen and (max-width: 1065px) {
    .section.four.posts .section-title {
      float: none; }
      .section.four.posts .section-title-heading {
        margin: 0 auto;
        text-align: center; }
      .section.four.posts .section-title-desc {
        margin: 0 auto;
        text-align: center;
        max-width: 490px;
        margin-top: 5px; } }
    @media screen and (max-width: 1065px) and (max-width: 414px) {
      .section.four.posts .section-title-desc {
        display: none; } }
  @media screen and (max-width: 1065px) {
      .section.four.posts .section-title-button {
        margin: 25px auto 50px;
        text-align: left;
        width: 160px;
        height: 44px; } }

.latest-posts {
  float: right;
  width: 640px; }
  .latest-posts-item {
    width: 47.34375%;
    height: 368px;
    border: 1px solid #d1d1d1;
    background-color: white;
    border-radius: 3px;
    overflow: hidden;
    box-sizing: border-box;
    float: left; }
    .latest-posts-item-img {
      margin-bottom: 20px;
      display: block;
      height: auto; }
      .latest-posts-item-img-actual {
        width: auto;
        height: 100%;
        width: 100%; }
    .latest-posts-item-date {
      position: relative;
      margin-left: 16px;
      padding: 0 16px 0 21px;
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      color: #b2b2b2; }
      .latest-posts-item-date:before {
        content: "x";
        position: absolute;
        left: 0;
        font-family: gvcons;
        font-weight: 400;
        font-size: 14px;
        line-height: 1;
        cursor: default; }
    .latest-posts-item-title {
      padding: 15px 16px 0;
      box-sizing: border-box;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600; }
      .latest-posts-item-title-link {
        color: #595959; }
        .latest-posts-item-title-link:hover {
          color: #045da0; }
    .latest-posts-item-content {
      padding: 8px 16px 0;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 19px;
      font-weight: 500;
      color: #595959; }
    .latest-posts-item:nth-child(2n) {
      float: right; }
    .latest-posts-item:nth-child(3), .latest-posts-item:nth-child(4) {
      margin-top: 5.1155115512%; }
    @media screen and (max-width: 736px) {
      .latest-posts-item {
        height: 260px; }
        .latest-posts-item-content, .latest-posts-item-date {
          display: none; }
        .latest-posts-item-title {
          padding: 15px 16px;
          font-size: 18px; }
        .latest-posts-item-img {
          margin-bottom: 0; } }
    @media screen and (max-width: 680px) {
      .latest-posts-item {
        height: auto; } }
  @media screen and (max-width: 1065px) {
    .latest-posts {
      float: none;
      clear: both;
      margin: 0 auto; } }
  @media screen and (max-width: 680px) {
    .latest-posts {
      width: 100%; }
      .latest-posts-item {
        float: none !important;
        width: 100%;
        max-width: 303px;
        margin: 0 auto;
        margin-top: 31px !important; } }

.icon-calendar {
  float: left;
  font-size: 14px;
  line-height: 1;
  margin-right: 7px; }

/* ==========================================================================
 * 5.Featured In
 * ========================================================================== */
.featured {
  background-color: #FFF; }
  .featured-wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
    height: 102px;
    box-sizing: border-box; }
    .featured-wrap:before, .featured-wrap:after {
      content: "";
      display: table; }
    .featured-wrap:after {
      clear: both; }
    @media screen and (max-width: 920px) {
      .featured-wrap {
        padding: 0; } }
  .featured-title {
    float: left;
    width: 25%;
    padding: 45px 0 38px;
    text-align: center;
    text-transform: uppercase;
    font-size: 23px;
    line-height: 19px;
    font-weight: 600;
    color: #666666;
    box-sizing: border-box; }
  .featured-companies {
    width: 75%;
    height: 100%;
    float: left; }
    .featured-companies-item {
      position: relative;
      width: 25%;
      height: 100%;
      float: left;
      opacity: 0.17; }
      .featured-companies-item-img {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        right: 0;
        display: block;
        margin: 0 auto; }
  @media screen and (max-width: 920px) {
    .featured {
      height: 120px; }
      .featured-title, .featured-companies {
        float: none;
        width: 100%; }
      .featured-title {
        padding: 20px 0 5px; }
      .featured-companies {
        height: 65%; } }
  @media screen and (max-width: 720px) {
    .featured-companies-item-img {
      height: auto; }
      .featured-companies-item-img.binsider {
        width: 110px; }
      .featured-companies-item-img.forbes {
        width: 113px; }
      .featured-companies-item-img.pcworld {
        width: 111px; }
      .featured-companies-item-img.fox {
        width: 86px; } }
  @media screen and (max-width: 550px) {
    .featured-companies {
      box-sizing: border-box;
      padding-left: 10px; }
    .featured-companies-item-img.binsider {
      width: 85%; }
    .featured-companies-item-img.forbes {
      width: 86%; }
    .featured-companies-item-img.pcworld {
      width: 85%; }
    .featured-companies-item-img.fox {
      width: 64%; } }

/* ==========================================================================
 * 5.Learn
 * ========================================================================== */
.section.learn {
  background-color: #fbfbfb;
  border-bottom: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-top: 1px solid #d1d1d1;
  padding: 85px 0 95px; }
  @media screen and (max-height: 878px) {
    .section.learn {
      padding: 65px 0 85px; } }
  .section.learn .section-title {
    text-align: center;
    box-sizing: border-box; }
    .section.learn .section-title-heading {
      text-align: center;
      font-weight: 400;
      font-size: 36px;
      color: #666666; }
      .section.learn .section-title-heading-highlight {
        color: #045da0; }
  @media screen and (max-width: 920px) {
    .section.learn {
      display: none; } }

.learn-box {
  width: 100%;
  min-height: 322px;
  height: auto;
  margin-top: 48px;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  background-color: white;
  overflow: hidden; }
  .learn-box-tabs {
    float: left;
    width: 21.2389380531%;
    min-height: 322px;
    height: 100%;
    border-right: 1px solid #d1d1d1;
    box-sizing: border-box; }
    .learn-box-tabs-item {
      padding: 22px 15px 18px;
      border-bottom: 1px solid #d1d1d1;
      font-size: 14px;
      line-height: 14px;
      font-weight: 700;
      text-transform: uppercase;
      box-sizing: border-box;
      cursor: pointer; }
      .learn-box-tabs-item.active, .learn-box-tabs-item:hover {
        background-color: #045da0;
        color: white; }
      @media screen and (max-width: 1000px) {
        .learn-box-tabs-item {
          font-size: 13px;
          padding: 18px 9px 14px; } }
  .learn-box-content {
    position: relative;
    left: -1px;
    float: left;
    width: 78.7610619469%;
    border-left: 1px solid #d1d1d1;
    padding: 40px;
    box-sizing: border-box; }
    .learn-box-content-section {
      display: none; }
      .learn-box-content-section.active {
        display: block; }
    .learn-box-content h5 {
      font-size: 19px;
      font-weight: 600;
      padding-bottom: 6px; }
