.section-wrap {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
  .section-wrap:before, .section-wrap:after {
    content: "";
    display: table; }
  .section-wrap:after {
    clear: both; }
.section-title__left {
  float: left;
  box-sizing: border-box; }
  .section-title__left .section-title-heading {
    text-align: left;
    font-weight: 500;
    font-size: 39px;
    color: #045da0; }
    .section-title__left .section-title-heading-inner {
      color: #e39315; }
  .section-title__left .section-title-desc {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    color: #595959;
    max-width: 350px;
    margin: 4px 0 0 2px; }
  @media screen and (max-width: 1000px) {
    .section-title__left .section-title-heading {
      font-size: 36px; }
    .section-title__left .section-title-desc {
      max-width: 290px; } }
  @media screen and (max-width: 900px) {
    .section-title__left {
      float: none !important;
      clear: both;
      margin: 0 auto;
      text-align: center; }
      .section-title__left .section-title-heading {
        font-size: 35px;
        padding-bottom: 4px; }
      .section-title__left .section-title-desc {
        margin: 0 auto;
        width: 90%;
        max-width: 500px;
        font-size: 17px;
        line-height: 23px; } }
.section-title__center {
  text-align: center;
  box-sizing: border-box; }
  .section-title__center .section-title-heading {
    width: 90%;
    margin: 0 auto; }
  .section-title__center .section-title-desc {
    width: 90%;
    max-width: 550px;
    margin: 5px auto 0; }
    .section-title__center .section-title-desc .section-title-desc-highlight {
      font-weight: 600;
      color: #045da0; }

a[href="/cc"],
a[href^="/admin/content-gv"] {
  position: fixed;
  top: 2px;
  right: 240px;
  z-index: 1000;
  color: #e39315;
  font-size: 12px;
  font-weight: 600;
  margin-top: 7px;
  margin-left: 15px; }

a[href="/cc"] {
  right: 150px; }

#admin-menu {
  background: black; }

.dropdown {
  line-height: 2 !important; }

.expandable a {
  font-size: 12px;
  font-family: avenir;
  font-weight: 700 !important; }

.admin header {
  margin-top: 30px; }
.admin input,
.admin textarea {
  font-weight: 500;
  font-size: 16px; }
.admin .form-item input,
.admin input.form-submit {
  height: 45px; }
.admin input[type="checkbox"],
.admin input[type="radio"],
.admin .form-checkbox,
.admin .form-radio {
  height: auto !important; }
.admin input[type="checkbox"],
.admin .form-checkbox {
  -webkit-appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  -ms-appearance: checkbox !important;
  appearance: checkbox !important; }
.admin input[type="radio"],
.admin .form-radio {
  -webkit-appearance: radio !important;
  -moz-appearance: radio !important;
  -ms-appearance: radio !important;
  appearance: radio !important; }
.admin .form-item label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px; }
.admin .field-type-list-text label,
.admin .field-type-list-boolean label,
.admin .form-type-checkbox label {
  font-size: 14px; }
.admin .form-checkbox {
  height: auto; }
.admin .form-submit {
  line-height: 48px;
  font-weight: 700;
  width: 23.5%;
  margin-right: 2%; }
  .admin .form-submit#edit-delete {
    margin-right: 0; }
.admin #edit-save-draft,
.admin #edit-published-but-invisible,
.admin #edit-delete {
  margin-top: 15px; }
.admin #edit-save-draft,
.admin #edit-published-but-invisible,
.admin #edit-delete {
  background-color: #b2b2b2; }
