.social-share
	position: fixed
	z-index: 000
	background-color: white
	// bottom: -1px
	// left: 5%
	right: 0
	top: 45%
	padding: 0 10px
	border: 1px solid $divider
	border-radius: 3px 0 0 3px 
	+clearfix

	+m(940)
		display: none
		

	&-title
		// float: left
		// display: block
		display: none
		// height: 30px
		padding: 14px 0
		// line-height: 34px
		font-size: 14px
		font-weight: 700
		letter-spacing: .4px
		text-transform: uppercase
		+user-select(none)


	&-item
		position: relative
		+size(30)
		// +center
		display: block
		// float: left
		border-radius: 50%
		margin-bottom: 10px
		cursor: pointer

		&-text
			display: none

		&:after
			content: ''
			position: absolute
			left: 0
			right: 0
			+valign
			text-align: center
			+center
			font-family: gvcons
			font-size: 16px
			line-height: 1
			color: white


		&.facebook
			background-color: #3b5998
			&:after
				content: 'G'

		&.twitter
			margin-top: 10px
			background-color: #55acee
			&:after
				content: ';'

		&.gplus
			background-color: #d34836
			&:after
				content: 'N'

		&.expand
			background-color: $grey-light
			&:after
				content: 'V'


		&.email
			background-color: #e39315
			&:after
				content: 'H'

		&.linkedin
			background-color: #0077b5
			&:after
				content: 'Q'

		&.stumbleupon
			background-color: #f74425
			&:after
				content: '/'




	&-item.expand
		-webkit-transform: rotate(0deg)
		-moz-transform: rotate(0deg)
		-ms-transform: rotate(0deg)
		transform: rotate(0deg)
		transition: -webkit-transform 0.2s
		transition: -moz-transform 0.2s
		transition: -ms-transform 0.2s
		transition: transform 0.2s

	
		&.open
			-webkit-transform: rotate(135deg)
			-moz-transform: rotate(135deg)
			-ms-transform: rotate(135deg)
			transform: rotate(135deg)


	&-items-hidden
		height: 0px
		display: block
		overflow: hidden
		transition: height 0.2s

		&-wrap
			display: block
			height: 120px
			+clearfix

		&.show
			height: 120px
