.top-picks
	margin-top: 80px
	
	&-title
		+section-title-heading($weight: 400, $color: $grey-dark, $size: 35px)
		margin-bottom: 20px

	tr:last-child
		.vertical-item
			border-bottom: 0

	.vertical-thead

		.vertical-left // Empty top-left cell
			border-bottom: 1px solid $divider !important

		.vertical-item
			width: 15%

	.vertical-thead-logos-item-logo // Bottom border on logo cells
		border-bottom: 1px solid $divider