.top-picks
	margin-top: 80px
	
	&-title
		+section-title-heading($weight: 400, $color: $grey-dark, $size: 35px)
		margin-bottom: 20px

	tr:last-child
		.vertical-item
			border-bottom: 0

	.vertical-thead
		.vertical-left
			border-bottom: 1px solid $divider !important

	.vertical-thead-logos-item-logo
		border-bottom: 1px solid $divider