.hero-header 
	background-size: cover

	&.center
		background-image: url(../images/img-hero.jpg)	
		background-position: 80% 50%
		height: 504px

		+m(768)
			height: 404px

		+m(620) 
			background-image: url(../images/img-hero-m.jpg)	

		+m(450)
			height: 375px


	&.left
		padding: 60px 0 55px


	.page-node-287 &
		background-image: url(../images/img-business.jpg)
		background-position: 80% 0%	

		+m(620) 
			background-image: url(../images/img-business-m.jpg)	


	.page-node-288 &
		background-image: url(../images/img-residential.jpg)
		background-position: 80% 0%	

		+m(620) 
			background-image: url(../images/img-residential-m.jpg)	




	h1:not(.hero-title-heading)
		position: absolute
		top: 700px
		left: 0
		right: 0
		z-index: -1






// MIXIN MIXIN MIXIN MIXIN 
=hero-title($pos, $heading-size:42px, $desc-size:19px)
	position: relative
	text-align: $pos
	color: white
	
	@if $pos == center
		+valign

	&-heading 
		font-weight: 300
		font-size: $heading-size


	&-desc
		padding-top: 15px
		font-size: $desc-size
		line-height: 25px
		font-weight: 500
		opacity: .7


	+m(768)
		&-heading
			font-size: 36px

		&-desc
			font-size: 17px
			line-height: 23px


	+m(450)
		&-heading
			font-size: 30px

		&-desc
			font-size: 16px
			line-height: 21px





.center .hero-title
	+hero-title(center)

	&-heading
		width: 90%
		max-width: 750px
		+center


		&-strong
			font-weight: 600


	&-desc
		width: 90%
		max-width: 540px
		+center


.left .hero-title
	+hero-title(left, 36px, 17px)
	max-width: 1170px
	padding: 0 20px
	+center
	box-sizing: border-box

	&-heading
		max-width: 650px
		// &-strong
		// 	font-weight: 600

		+m(738)
			text-align: center


	&-desc
		max-width: 910px
		margin-top: 8px

		.disclosure
			display: none

		+m(738)
			display: none

	