.hero-header 
	height: 504px
	background-image: url(../images/img-hero.jpg)	

	h1
		position: absolute
		top: 700px
		z-index: -1		// TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP 

=hero-title($pos)
	text-align: $pos
	color: white

	&-heading 
		font-weight: 300
		font-size: 42px

.hero-title
	+hero-title(center)
	

	