.popup
	position: fixed
	z-index: 1001
	width: 100%
	max-width: 745px
	border-radius: 5px
	background-color: white
	+balign
	top: 40%
	opacity: 0
	transition: opacity 0.4s, top 0.4s

	&.show
		opacity: 1
		top: 50%

	&.exit
		max-width: 807px
		border-radius: 0


	&-overlay

		position: fixed
		z-index: 1000
		display: none
		width: 100%
		height: 100%
		background-color: black
		opacity: 0
		cursor: pointer
		transition: opacity 0.4s 

		&.show
			display: block
			opacity: .8

	&-content
		height: 100%



