
.page-node-287 .nice-menu-down
	display: none


// Column that needs to be removed from the table
.mobile-column,
.get_quote_popup
	display: none !important


// Hide newsletter form and provider selection on reviews page
#gv-misc-newslettersubscribe-form,
.attachment.attachment-before
	display: none



// Hide 'next' button for the reviews on a provider page
.item-list
	display: none


// Hide Provider search filter on the /reviews page
#edit-provider-wrapper
	display: none










.element-invisible
	display: none