/* General structue */
body{background: url("images/header-back.png") repeat-x right top transparent;}
a{color: #275FA6;}
a:visited{color: #275FA6;}
#header, #navigation, #all-content, #footer-inside{width: 1100px; margin: auto;}
#header{padding-top: 120px;}
#all-content, #highlighted{width: 1090px; padding: 10px 5px 5px; background: white; margin: auto;}


/* Fields hints */
.form-item .blur{color: lightgray;}

/* Three columns layout */
body.two-sidebars #sidebar-first {float: left; margin: 0 0 0 -857px; padding: 0; width: 180px;}
body.two-sidebars #main {float: left; margin: 0 0 0 195px; padding: 0; width: 663px;}
/* Two columns layout */
body.one-sidebar.sidebar-second #main {width: 855px;}


/* Make captiona narrower */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-family: Trebuchet MS;}


/* Header */
#header #header-menu-back{background: url("images/menu-main-back.png") repeat-x scroll 0 0 transparent; border-radius: 6px 6px 0 0; min-height: 45px;}
#header #logo{background: url("images/logo-main-menu.png") no-repeat scroll 0 0 transparent; height: 100px; left: 20px; position: absolute; top: 12px; width: 230px;}
    
/* Footer */
#footer {background: /*#275FA6*/url("images/footer-back.png") repeat-x scroll 0 0 transparent; color: white; height: 20px; padding: 0; height: 55px;}
#footer .region-footer{width: 640px; margin: auto;}
#footer .block{margin-bottom: 0;}
#footer .menu a{color: white; font-size: 14px;}
#footer .menu li{margin: 5px}
#footer .c{clear: both; margin: auto; color: gray; font-size: 12px; width: 270px; padding-top: 10px;}


/* System Messages */
.messages{overflow-x: scroll;}
.krumo-root, .krumo-child, .krumo-element, .krumo-nest, .krumo-node{width: 100%; overflow-x: scroll;}



/* OM MegaMenu styles */
ul.gv{margin-left: 0px; padding-left: 10px;}
/*.om-maximenu-simple .om-maximenu-middle-right {background-color: lightgray;}*/
.block.block-om-maximenu{left: 10px; position: absolute; top: 122px;}
.om-btitle {float: left; position: absolute; left: -180px;}
.om-maximenu-content .block{float:left; margin-bottom: 5px;}
/*.om-links.lvl-0, .om-maximenu-content .title, .om-maximenu-content .block.gv{min-width: 200px; margin-left: 200px;}*/
/*.om-maximenu-content .block{min-width: 200px; margin-left: 50px; margin-bottom: 10px;}*/
/*.om-maximenu-content .block-gv_blocks{margin-left: 200px;}*/
.om-maximenu-content .block .block{margin-left: 0;}
.om-maximenu-content h3, .om-maximenu-content h2{margin-top:0}
/* set constant position for om submenu block*/
.om-maximenu ul.om-menu li.om-leaf{top: -2px;}

/*#om-menu-main-om-menu li.om-leaf{background: url("images/menu-main-delim.png") no-repeat right top transparent; height: 40px;}*/
#om-menu-main-om-menu li.om-leaf{position: relative; background: url("images/menu-main-delim.png") no-repeat right top transparent; height: 40px;}
/*.om-maximenu ul.om-menu li.om-leaf .om-link{line-height: 30px; color: white; font-weight: bold; padding: 5px 20px 15px 20px;}*/
.om-maximenu ul.om-menu li.om-leaf .om-link{line-height: 36px; color: white; font-weight: bold; padding: 4px 13px 8px 13px;}
.om-maximenu ul.om-menu li.om-leaf:hover om-link, .om-maximenu ul.om-menu li.om-leaf:hover a.om-link{background: #cc302a; color: white;  /*border-radius: 10px 10px 0 0;*/}

/*Make screen wide width for om submenu block */
/*.om-maximenu .om-maximenu-content{left: 0px; top: 56px; width: 455px;}*/
.om-maximenu .om-maximenu-content{top: 40px; padding-top: 4px; min-width: 150px;}
.om-maximenu-simple .om-maximenu-middle{background: #cc302a; color: white; padding: 10px 15px 0 10px; border-radius: 0 0 8px 8px; box-shadow: 3px 7px 7px -7px #000000;}

.om-maximenu-simple .om-maximenu-middle a{color: white;}
.om-maximenu-simple .om-maximenu-middle a:hover{text-decoration: underline;}



/* Menu*/
.menu-preface{float: left; margin-right: 20px;}
/* Footer and header menu */ 
.region-header ul.gv.menu li, .region-footer ul.gv.menu li{float: left;}


/* Multipart forms... and specifically Request a quote form*/
#block-gv-blocks-request-quote .content{padding: 10px 10px 0 10px;}
.multipartForm {font-size: 17px;}
.multipartForm .label_after{margin: -3px 0px 10px 25px; cursor: pointer;}
.multipartForm .label_before{float: left; clear: left;}
.multipartForm input[type="radio"]{float: left;}
.multipartForm input.after{float: right; width: 100px;}
.multipartForm input.phone{width: 30px; float: left;}
.multipartForm input#phone_1{margin-left: 55px;}

div#requestQuoteFormWrapper{height: 280px;}
#requestQuoteFormWrapper .step{height: 240px;}

.multipartForm label.error{clear: both;}
#requestQuoteFormWrapper div.results{width:100%; height: 300px; background: lightgray;}
/* Hide back button for the first step */
#requestQuoteFormWrapper #Navigation #back.ui-state-disabled{display: none;}


.block .inside,
.node .inside{border: 1px solid gray; background: white; position: relative;}


/* Home page main content */

.front #main .block h2,
.front #main .node h2{color: #275FA6; border-bottom: 1px solid gray; margin: 0; padding: 10px; font-size: 18px; font-weight: bold;}

.front #main .node h2 a{color: #275FA6;}

.front #main .block .content{padding: 0; font-size: 13px;}
.front #main .block .content .view-content{margin-bottom: -15px;}
.front #main .block .more-link{background: lightgray; padding-right: 20px;}
.front #main .block .more-link a{color: white;}

.front #main .node .content{padding: 10px; font-size: 13px;}


/* Shadows */
/*.front .block .shadow,
.node*/ .shadow{background: url("images/shadow-bottom-right-t.png") no-repeat scroll 105% 2px transparent; height: 15px; margin-bottom: -15px; width: 100%;}

/* Blocks */

/* Top providers*/
.front #block-views-providers-block .block-icon{background: url("images/top-business-providers-icon.png") repeat scroll 0 0 transparent; left: 5px; top: -15px;  width: 60px;}
.front #block-views-providers-block_1 .block-icon{background: url("images/top-residential-providers-icon.png") repeat scroll 0 0 transparent; left: 5px; top: -15px;  width: 60px;}
.front #main .block h2{padding-left: 75px;}
/* Features */
.front #main .block td.views-field-php{text-align: left; min-width: 140px;}
/* Ratings */
#main .block .fivestar{float: left; position: relative; top: 3px;}
#main .block td.views-field-php-4{width: 120px;}


#main .plan{color: #275FA6; font-size: 12px; font-weight: bold;}
#main .feature{background: url("images/galka-green.png") no-repeat scroll 0 5px transparent; font-size: 12px; padding-left: 14px;}


.content tr{background: transparent;}
.content td{background: transparent; padding: 5px; border-right: 1px solid lightgray; text-align: center;}
.content td.views-field-php-5{border: none;}
.content th{background: #275FA6; padding-left: 5px; color: white; border: 1px solid white; text-align: center;}
.content th a{color: white; display: block}
.content .views-field .count{font-size: 11px; padding-top: 2px;}

/* Highlighted*/
#highlighted .block .shadow{background: url("images/shadow-bottom-right-t.png") no-repeat scroll 105% 0px transparent; height: 15px; margin-bottom: -15px; width: 100%;}
#highlighted #block-gv-blocks-get-access-banner .shadow{background: url("images/shadow-bottom-left-t.png") no-repeat;}

#highlighted .block .inside{margin-bottom: 8px; padding: 5px; border: 1px solid lightgray; margin: 0;}

#highlighted #block-gv-blocks-get-access-banner{float: left; height: 267px; width: 481px; }
#highlighted #block-gv-blocks-get-access-banner .inside{background: url("images/get-access.png") no-repeat scroll 7px 7px transparent; height: 267px; width: 481px;}

#highlighted #block-gv-blocks-get-access-banner h2{color: #275FA6; font-size: 25px; font-weight: bold; line-height: 35px; margin-left: 10px; margin-top: 15px;}
#highlighted #block-gv-blocks-get-access-banner .content a{background: url("images/learn-more.png") no-repeat scroll 0 0 transparent; display: block; margin: 20px 0 0 10px; text-indent: -9999px;}

#highlighted #block-views-articles-block{float: right; height: 267px; width: 585px; margin-right: 3px;}
#highlighted #block-views-articles-block .inside{background: url("images/latest-articles-back.png") no-repeat scroll 8px 8px transparent; height: 267px; width: 575px;}

#highlighted #block-views-articles-block h2{border-bottom: 3px solid white; color: #275FA6; display: block; font-weight: bold; margin: 0; padding: 10px 0 5px 20px;}
#highlighted #block-views-articles-block .content{margin: 5px 0 0 150px;}
#highlighted #block-views-articles-block .content a{color: gray;}
#highlighted #block-views-articles-block .views-field-title{font-size: 13px; line-height: 14px; font-weight: bold; margin-bottom: 5px;}
#highlighted #block-views-articles-block .views-field-body{font-family: trebuchet MS; font-size: 12px; line-height: 15px; color: gray;}
#highlighted #block-views-articles-block .views-field-body a{font-weight: bold;}
#highlighted #block-views-articles-block .views-row{ border-bottom: 1px solid gray; margin-bottom: 5px; padding-bottom: 3px; width: 416px;}
#highlighted #block-views-articles-block .more-link{font-size: 13px; margin-right: 7px; margin-top: -6px;}



.sidebar .block{background: /*url("images/gradient-vert-1.png") repeat-x scroll center bottom #FFFFFF*/ #f9f9f9; border: 0.5px solid lightgray; border-radius: 7px 7px 5px 5px; margin-bottom: 8px; position: relative; /*box-shadow: 3px 7px 7px -7px #000000;*/}
.sidebar .block-title{background: url("images/block-head-red.png") repeat-x scroll 0 0 transparent; border-radius: 5px 5px 0 0; color: white; margin: 0; padding: 7px; font-size: 18px; font-weight: bold; text-transform: capitalize;}


/*.sidebar .block .content{padding: 10px;}*/
.sidebar #block-views-articles-block-1 .content{padding: 0;}

.sidebar #block-system-user-menu .content{padding: 10px 0 10px 0;}
.sidebar #block-system-user-menu .content a{font-size: 18px; padding: 0 0 0 10px; color: gray;}

.sidebar #block-user-login .content{padding: 10px;}
.sidebar #block-user-login .content a{padding: 0;}
.sidebar #block-user-login label{font-size: 14px;}

.sidebar .block .content ul{list-style: none; padding: 0; margin: 0;}
.sidebar .block .content a{color: black; font-family: sans-serif; font-size: 12px; padding: 10px; display: block;}
.sidebar .block .content a:hover{color: #E33562; text-decoration: underline;}



/*.sidebar #block-views-articles-block-1 a{font-size: 13px; display: list-item; list-style: none inside url("images/arrow-gray-right.png"); padding: 10px; border-bottom: 1px solid gray;}*/
.sidebar #block-views-articles-block-1 .views-row{border-bottom: 1px solid lightgray;}
.sidebar #block-views-articles-block-1 .content a{background: url("images/arrow-gray-right.png") no-repeat left center; margin-left: 10px;}
.sidebar #block-views-articles-block-1 .views-row-last a, 
.sidebar #block-views-articles-block-1 .more-link a{border: none;}
.sidebar #block-views-articles-block-1 .more-link a{background: none; line-height: 10px;}

.sidebar #block-views-news-block .views-row,
.sidebar #block-views-reviews-block .views-row,
.sidebar #block-views-blog-block .views-row{border-bottom: 2px solid white;}

.sidebar #block-views-news-block .more-link a,
.sidebar #block-views-reviews-block .more-link a,
.sidebar #block-views-blog-block .more-link a{color: black; text-align: left;}


/* Clear ui-widget-content form settings */
.block form{background: none; border: none;}
/* Blocks icons */
.block-icon{position: absolute; right: 2px; top: -7px; height: 50px; width: 50px;}
#block-views-articles-block-1 .block-icon{background: url("images/voip-library-icon.png") no-repeat scroll 0 0 transparent;}
#block-views-news-block .block-icon{background: url("images/latest-news-icon.png") no-repeat scroll 0 0 transparent;}
#block-views-reviews-block .block-icon{background: url("images/latest-reviews-icon.png") no-repeat scroll 0 0 transparent;}
#block-views-blog-block .block-icon{background: url("images/latest-blogpost-icon.png") no-repeat scroll 0 0 transparent;}



ul{list-style: none;}
.sidebar .block li{list-style: none;}

#header #block-gv-blocks-header-links{margin: 0; padding: 0; position: absolute; right: 0px; top: 30px;}
ul.header-links{margin: 0;}
ul.header-links li{float: left;}
ul.header-links a{display: block; text-indent: -9999px; width: 40px; height: 45px; margin-left: 10px;}
ul.header-links a.Twitter{background: url("images/twitter.png") no-repeat scroll 0 0 transparent;}
ul.header-links a.Facebook{background: url("images/fb.png") no-repeat scroll 0 0 transparent;}
ul.header-links a.GooglePlus{background: url("images/gplus.png") no-repeat scroll 0 0 transparent; margin-right: 5px;}
ul.header-links a.LinkedIn{background: url("images/linkedin.png") no-repeat scroll 0 0 transparent;}

ul.header-links a.Submit.Reviews{background: url("images/block-head-red.png") repeat-x scroll 0 0 red; border: 1px solid red; border-radius: 3px 3px 3px 3px; color: white; padding: 0 2px 0 3px; margin: 0; position: absolute; right: 0; text-indent: 0; top: 52px; width: 145px; height: 25px; font-weight: bold;  text-align: center;}
   


/* Search block */
#header #block-search-form{position: absolute; right: 10px; top: 128px;}
#header #block-search-form input.form-text{height: 20px; width: 175px; padding-right: 30px; padding-left: 5px; }
#header #block-search-form .form-actions{position: absolute; right: 0px; top: 5px;}
#header #block-search-form input.form-submit{background: url("images/search.png") no-repeat scroll 0 0 transparent; text-indent: -9999px; width: 20px; height: 20px; border: none;}
   

/* Stars on a Submit review page*/
#edit-votes label{float: left;}
#edit-votes .form-item{clear: both;}
#edit-votes .choice{height: 20px;}

/* Characters counter */
.form-item{position: relative;}
form .counter{color: #CCCCCC; position: absolute; right: 0; top: 0;}
form .counter.warning{color: lightcoral;}
form .counter.exceeded{color: red;}

/* Submit review edit page */
#edit-about-you input{width: 100%;}
#edit-about-you .form-item-field-r-fname-temp{float: left; width: 300px; margin-top: 0;}
#edit-about-you .form-item-field-r-lname-temp{margin-left: 330px; padding-top: 22px; width: 300px;}
#edit-about-you .form-item-field-r-lname-temp label{height: 1px;}
#edit-about-you .form-item-field-r-lname-temp label span{color: transparent;}


/* Node page, including Article */

/*.node-type-article .tabs-wrapper{display: none;}*/

.page-node #main .main-content{border: 1px solid lightgray; padding: 0 40px 40px 40px;}

.page-node #main h1, .h1{font-size: 2.2em; margin: 10px 0 5px;}
  
.page-node #main .submitted{font-family: Georgia,"Bitstream Charter",serif; font-size: 17px;}
.page-node #main .submitted a{margin: 0 5px;}
.page-node #main .submitted .delim{font-weight: bold; margin-right: 5px;}
.page-node #main .main-content .content{font-family: Georgia,"Bitstream Charter",serif; border-top: 1px dotted #C4C4C4; margin-top: 12px; padding-top: 20px;}

.page-node #main #comments{margin: 30px;}

/* Article node page */
.page-node #main .share{font-size: 16px; border-bottom: 1px solid lightgray; border-top: 1px solid lightgray; margin-top: 60px; padding: 20px 0 40px 0;}
.page-node #main .share .main{width: 370px; float: right;}
.page-node #main .IN-widget{float: left; margin-right: 13px;}
.page-node #main #___plusone_0{float: left !important; width: 75px !important;}
.page-node #main .fb-like{float: left; top: -2px;}
.page-node #main .twitter-share-button{width: 95px !important;}

.page-node #main .share .others{float: left; padding-top: 3px;}
.page-node #main .share .others .addthis_toolbox a{margin-right: 5px}
.page-node #main .share .others .addthis_button_email{position: relative; top: -4px;}
.page-node #main .share .others .at15t_email{margin-right: 4px; position: relative; top: 3px;}

.page-node #main .topics{font-family: Georgia,"Bitstream Charter",serif; font-size: 15px; font-weight: bold; margin-top: 20px; padding-bottom: 20px;}
.page-node #main .topics .title{margin-right: 10px; float: left;}
.page-node #main .topics a{float: left;}
.page-node #main .topics .delim{margin: 0 5px 0 5px; float: left; color: #275FA6;}

.page-node #main .providers, .page-node #main #providers-bottom{border-top: 5px solid #275FA6; margin: 30px; padding: 30px 0;}
.page-node #main #providers-bottom{width: 800px; padding-bottom: 0; clear: both;}
.page-node #main .providers .block{width: 385px; margin-bottom: 30px;}
.page-node #main .providers .block .inside{border: none;}
.page-node #main .providers #block-views-providers-block_pick_bu{float: left;}
.page-node #main .providers #block-views-providers-block_pick_re{float: right;}
.page-node #main .providers .content{border: 1px solid lightgray; padding: 0; margin-top: 12px;}
.page-node #main .providers h2{margin-top: 0; color: #275FA6; font-size: 22px;}
.page-node #main .providers table{margin-bottom: 0;}
.page-node #main .providers thead{display: none;}
.page-node #main .providers .views-row-last{border-bottom: none;}

/* Provider page*/
.supertitle{color: #275FA6; border: 1px solid lightgray; border-bottom: none; font-size: 18px; padding: 5px 0 5px 20px;}
.node-type-provider #main .main-content .content{border:none;}
.node-type-provider .logo{float: left;}
.node-type-provider h1{float: left;}
.basic-info{float: left; margin-left: 50px; width: 320px;}
.basic-info div{}
.basic-info div.title{}
.node-type-provider #main .share{border: none; float: right; margin: 0 20px; padding-top: 10px;}
.node-type-provider #main .share div.s{clear: both; padding-top: 5px;}
.data.tabs{clear: both; margin-bottom: 30px;}

.node-type-provider .gv_votes{float: left; width: 280px; margin: 0 30px 0 60px;}
.node-type-provider .gv_votes .caption{background: none repeat scroll 0 0 #275FA6; color: white; font-weight: bold; padding: 6px 0 6px 10px;}
.node-type-provider .gv_votes .data{padding: 0 10px 10px 0; border: 1px solid gray;}
.node-type-provider .gv_vote{clear: both; height: 30px;}
.node-type-provider .gv_vote .title{padding: 2px 0 2px 10px; float: left;}
.node-type-provider .gv_vote.even{background: #e9e9e9;}

.node-type-provider .gv_vote .fivestar{float: right; margin-right: 10px; padding: 10px 0 5px;}

.node-type-provider .overall{margin-left: 350px; position: relative;}
.node-type-provider .overall .text{float: left; width: 200px; margin-top: 90px;}
.node-type-provider .overall .voters{margin-bottom: 5px;}
.node-type-provider .overall .text .title{float: left; margin-right: 10px; font-weight: bold;}
.node-type-provider .star-big{font-family: arial; float: right; width: 180px; background: url("images/star-big.png") no-repeat; height: 150px; margin-top: 60px; position: relative;}
.node-type-provider .star-big .count{font-size: 35px; font-weight: bold; left: 39px; position: absolute; top: 30px;}
.node-type-provider .star-big .descr{font-size: 12px; font-weight: bold; left: 35px; line-height: 13px; position: absolute; text-align: center; top: 73px; width: 60px;}

.node-type-provider .bottom{clear: both;}
.node-type-provider .shadow{height: 45px;}

.node-type-provider .reviews .header{border-bottom: 1px solid lightgray; height: 50px; margin-bottom: 10px; width: 100%;}
.node-type-provider .reviews .header .button{cursor: pointer; background: none repeat scroll 0 0 #275FA6; color: white; float: left; font-weight: bold; margin-right: 10px; padding: 10px;}
.node-type-provider .reviews .header .button a, .node-type-provider .reviews .header .button a:hover{color: white; display: block;}

.node-type-provider .reviews .pager{float: left; text-align: left; padding: 30px 0 0 0;}