/* OM MegaMenu styles */
.om-maximenu-simple .om-maximenu-middle-right {background-color: lightgray;}

.om-btitle {float: left; position: absolute; left: -180px;}
.om-maximenu-content .block{float:left;}
/*.om-links.lvl-0, .om-maximenu-content .title, .om-maximenu-content .block.gv{min-width: 200px; margin-left: 200px;}*/
.om-maximenu-content .block{min-width: 200px; margin-left: 50px;}
.om-maximenu-content .block-gv_blocks{margin-left: 200px;}
.om-maximenu-content .block .block{margin-left: 0;}
.om-maximenu-content h3, .om-maximenu-content h2{margin-top:0}
/* set constant position for om submenu block*/
.om-maximenu ul.om-menu li.om-leaf{position: static;}
/*Make screen wide width for om submenu block */
.om-maximenu-content{left: 25px; width: 800px;}

/* Menu*/
.menu-preface{float: left; margin-right: 20px;}
/* Footer and header menu */ 
.region-header ul.gv.menu li, .region-footer ul.gv.menu li{float: left;}

/* Multipart forms... and specifically Request a quote form*/
.multipartForm {font-size: 17px;}
.multipartForm .label_after{margin: -3px 0px 10px 25px; cursor: pointer;}
.multipartForm .label_before{float: left; clear: left;}
.multipartForm input[type="radio"]{float: left;}
.multipartForm input.after{float: right; width: 100px;}
.multipartForm input.phone{width: 30px; float: left;}
.multipartForm input#phone_1{margin-left: 55px;}

div#requestQuoteFormWrapper{height: 350px; width: 225px;}
#requestQuoteFormWrapper .step{height: 240px;}

.multipartForm label.error{clear: both;}
#requestQuoteFormWrapper div.results{width:100%; height: 300px; background: lightgray;}

/* Blocks */
.sidebar .block{background: url("images/gradient-vert-1.png") repeat-x scroll center bottom #FFFFFF; border: 0.5px solid lightgray; border-radius: 7px; box-shadow: 3px 7px 7px -7px #000000;} 
.sidebar .block-title{background: lightgray; border-radius: 7px 7px 0 0; margin: 0; } 