/* OM MegaMenu styles */
.om-btitle {float: left;}
.om-maximenu-content .block .content{min-width: 200px; margin-left: 200px; float:left;}

.om-links.lvl-0, .om-maximenu-content .title, .om-maximenu-content .block.gv{min-width: 200px; margin-left: 200px;}
/*Reset the above rule*/
.om-maximenu-content .block.gv .content{margin-left: 0;}

/* set constant position for om submenu block*/
.om-maximenu ul.om-menu li.om-leaf{position: static;}
/*Make screen wide width for om submenu block */
.om-maximenu-content{left: 25px; width: 800px;}

/* Menu*/
.menu-preface{float: left; margin-right: 20px;}
/* Footer and header menu */ 
.region-header ul.gv.menu li, .region-footer ul.gv.menu li{float: left;}
