// Column that needs to be removed from the table
.mobile-column,
.get_quote_popup
	display: none !important


// Hide newsletter form and provider selection on reviews page
.attachment.attachment-before
	display: none



// Hide 'next' button for the reviews on a provider page
.item-list
	display: none












.element-invisible
	display: none