.chart.horizontal
	width: 100%
	background: white
	margin-top: 10px
	border: 1px solid $divider
	border-radius: 4px
	border-collapse: separate

	+m(736)
		display: block

	thead
		height: 70px

		+m(736)
			display: none

	.thead

		&-item
			position: relative
			height: 70px
			border-bottom: 3px solid $primary
			text-align: center
			color: $primary

			&-text
				position: absolute
				left: 0
				right: 0
				bottom: 10px
				font-size: 13px
				font-weight: 700
				color: $primary
				text-transform: uppercase
				letter-spacing: .6px

			&-icon
				position: absolute
				left: 0
				right: 0
				top: 12px
				// fz24

				&.icon-provider
					font-size: 27px

				&.icon-features
					font-size: 24px

				&.icon-price
					font-size: 23px

				&.icon-setup
					font-size: 22px

				&.icon-moneyback
					font-size: 23px

				&.icon-review
					font-size: 21px

				&.icon-details
					font-size: 24px



			&-php-6
				width: perc(230px, 1130px)

			&-php-0
				width: perc(276px, 1130px)

			&-php-2
				width: perc(128px, 1130px)

			&-php-3
				width: perc(76px, 1130px)

			&-php-11
				width: perc(125px, 1130px)

			&-php-4
				width: perc(122px, 1130px)

			&-php-5
				width: perc(177px, 1130px)


			+m(920)
				&-php-6
					width: perc(230px, 930px)

				&-php-0
					width: perc(276px, 930px)

				&-php-2
					width: perc(128px, 930px)

				&-php-4
					width: perc(122px, 930px)

				&-php-5
					width: perc(177px, 930px)
				
				&-php-3,
				&-php-11
					display: none


	tbody 
		+m(736)
			display: block
			border-top: 0

			tr
				display: block
				width: 100%
				padding: 20px
				border-top: 1px solid $divider
				box-sizing: border-box

				&:nth-child(1)
					border-top: 0

	.tbody

		&-item
			height: 119px
			border-top: 1px solid $divider
			box-sizing: border-box

			&[class^="tbody-item tbody-item-php-"]
				text-align: center

			&-feature
				font-size: 14px
				font-weight: 600
				color: $primary

				&-item
					position: relative
					font-size: 13px
					line-height: 18px
					font-weight: 500
					color: $grey
					padding-left: 22px

					&:after
						content: 'M'
						position: absolute
						left: 3px
						top: -2px
						font-family: gvcons
						font-size: 14px
						color: $contrast

			&-rating

				&-text
					font-size: 24px
					font-weight: 600

				&-link
					font-size: 12px
					text-transform: uppercase
					font-weight: 600
					color: $grey-darker

					&:hover 
						color: $primary

				.fivestar
					+fivestar(14px)


			&-button
				+button-chart(solid, $contrast, 80.5%, 40px)
				display: block
				+center

				&-text-icon
					position: relative
					top: 2px
					right: -5px
					font-size: 16px
					margin-left: -9px

				+m(1024)
					@media screen and (min-width:737px)
						height: 37px
						&-text
							font-size: 17px

				+m(736)
					width: 142px


					

			&-php-6
				+m(1024)
					// +m(737, min)
					@media screen and (min-width:737px)
						.sprite-div
							transform: scale(0.89)

			&-php-2
				font-size: 22px
				font-weight: 700
				color: $primary

			&-php-3
				text-transform: uppercase

			&-php-11
				padding: 0 10px
				box-sizing: border-box

			&-php-3,
			&-php-11
				font-size: 17px

				+m(920)
					display: none

			&-php
				padding: 15px 0


			+m(736)
				display: block
				border-top: 0
				height: auto



	//	Remove first row's top border
	tr:nth-child(1) .tbody-item
		border-top: none







